.header {
  position: fixed;
  z-index: 99;
  background-color: #0f263b;
  width: 100%;
}

.header__wrapper {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  object-fit: contain;
  width: 150px;
  height: 80px;
  transition: 0.3s ease;
  border-radius: 15px;
}

.header__logo img:hover {
  transform: scale(1.1);
}

.header-menu .header-menu--footer {
  display: flex !important;
  position: static;
  transform: translateX(0%);
  opacity: 1;
  background-color: transparent;
}

.header-menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}

.header-menu__item-link {
  font-size: 16px;
  font-weight: 500;
  color: #c36;
  text-transform: capitalize;
  transition: 0.3s ease;
}

.header-menu__item-link:hover {
  color: #000;
}

.header-toggler {
  display: none;
}

@media (max-width: 1024px) {
  .header-toggler {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 99;
  }
  .header-toggler__icon {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .header-menu {
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }

  .header-menu--open {
    opacity: 1;
    transform: translateX(0);
  }
  .header-menu ul {
    flex-direction: column;
  }
  .header-toggler__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-toggler__line-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .header-toggler__line-bottom {
    bottom: 0;
  }
  .header-toggler--open {
    .header-toggler__line {
      background-color: #000;
    }
    .header-toggler__line-top {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .header-toggler__line-bottom {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .header-toggler__line-middle {
      display: none;
    }
  }
}

.qtyIHLFDMirrToq {
  align-items: center;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.qEihFoZrobNPMaw {
  /* color: #000; */
  text-align: center;
}

.qEihFoZrobNPMaw h1 {
  margin: 0;
}

.body-blue {
  background: #054c75;
}

.frZeQXEOlBlisxA1 {
  color: #fff;
}

.qEihFoZrobNPMaw1 {
  color: #fff;
}

.nXLBBClsDmfcdNe h5 {
  font-weight: 600;
  font-size: 20px;
}

.nXLBBClsDmfcdNe h3 {
  font-weight: 600;
  font-size: 20px;
}

.qEihFoZrobNPMaw h2 {
  font-size: 16px;
}

.nXLBBClsDmfcdNe h2 {
  font-size: 16px;
}

.nXLBBClsDmfcdNe h2 {
  font-size: 16px;
}
