.elementor-2194 .elementor-element.elementor-element-9d2f09d {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: flex-end;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-2194
  .elementor-element.elementor-element-9d2f09d
  .elementor-background-slideshow__slide__image {
  background-position: top center;
}
.elementor-2194 .elementor-element.elementor-element-9d2f09d::before,
.elementor-2194
  .elementor-element.elementor-element-9d2f09d
  > .elementor-background-video-container::before,
.elementor-2194
  .elementor-element.elementor-element-9d2f09d
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-2194
  .elementor-element.elementor-element-9d2f09d
  > .elementor-background-slideshow::before,
.elementor-2194
  .elementor-element.elementor-element-9d2f09d
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-2194
  .elementor-element.elementor-element-9d2f09d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-e7a96ab) 0%,
    #ffffff00 35%
  );
}
.elementor-2194 .elementor-element.elementor-element-9d2f09d,
.elementor-2194 .elementor-element.elementor-element-9d2f09d::before {
  --border-transition: 0.3s;
}
.elementor-2194 .elementor-element.elementor-element-36f2f1c {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-2194 .elementor-element.elementor-element-7bf11fa {
  --spacer-size: 30vh;
}
.elementor-2194 .elementor-element.elementor-element-284850c {
  text-align: center;
  z-index: 1;
}
.elementor-2194
  .elementor-element.elementor-element-284850c
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.64);
}
.elementor-2194 .elementor-element.elementor-element-bf0e29d {
  text-align: center;
  z-index: 1;
}
.elementor-2194
  .elementor-element.elementor-element-bf0e29d
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.53);
}
.elementor-2194 .elementor-element.elementor-element-0a81073 {
  --display: flex;
  --min-height: 31vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: flex-start;
  --background-transition: 0.3s;
  --padding-top: 1%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-2194
  .elementor-element.elementor-element-0a81073:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2194
  .elementor-element.elementor-element-0a81073
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #ffffff00 0%,
    var(--e-global-color-e7a96ab) 100%
  );
}
.elementor-2194 .elementor-element.elementor-element-0a81073,
.elementor-2194 .elementor-element.elementor-element-0a81073::before {
  --border-transition: 0.3s;
}
.elementor-2194 .elementor-element.elementor-element-4a4867f .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-radius: 5px 5px 5px 5px;
}
@media (max-width: 1024px) {
  .elementor-2194 .elementor-element.elementor-element-7bf11fa {
    --spacer-size: 16vh;
  }
  .elementor-2194
    .elementor-element.elementor-element-bf0e29d
    .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
  }
  .elementor-2194 .elementor-element.elementor-element-0a81073 {
    --justify-content: center;
  }
  .elementor-2194
    .elementor-element.elementor-element-4a4867f
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
}
@media (max-width: 767px) {
  .elementor-2194 .elementor-element.elementor-element-9d2f09d {
    --min-height: 72vh;
  }
  .elementor-2194
    .elementor-element.elementor-element-284850c
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-2194
    .elementor-element.elementor-element-bf0e29d
    .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
  }
  .elementor-2194
    .elementor-element.elementor-element-4a4867f
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
}
