.elementor-1742 .elementor-element.elementor-element-72304dfd {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: flex-end;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-72304dfd:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-72304dfd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
  background-image: url("/images/junipero-verbeke-FkAc_njcY7Y-unsplash.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1742 .elementor-element.elementor-element-72304dfd,
.elementor-1742 .elementor-element.elementor-element-72304dfd::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-237368ab {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742 .elementor-element.elementor-element-78248355 {
  --spacer-size: 30vh;
}
.elementor-1742 .elementor-element.elementor-element-725eccbe {
  text-align: center;
  z-index: 1;
}
.elementor-1742
  .elementor-element.elementor-element-725eccbe
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 5.3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.64);
}
.elementor-1742 .elementor-element.elementor-element-240d1ee9 {
  text-align: center;
  z-index: 1;
}
.elementor-1742
  .elementor-element.elementor-element-240d1ee9
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.53);
}
.elementor-1742 .elementor-element.elementor-element-37621cb5 {
  --display: flex;
  --min-height: 35vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: flex-start;
  --background-transition: 0.3s;
  --padding-top: 1%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742
  .elementor-element.elementor-element-76ad35ab
  .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742 .elementor-element.elementor-element-6900f8c1 {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-6900f8c1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-6900f8c1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-1742 .elementor-element.elementor-element-6900f8c1::before,
.elementor-1742
  .elementor-element.elementor-element-6900f8c1
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-6900f8c1
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-6900f8c1
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-6900f8c1
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-6900f8c1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: radial-gradient(
    at top center,
    var(--e-global-color-text) 0%,
    #ffffff00 100%
  );
}
.elementor-1742 .elementor-element.elementor-element-6900f8c1,
.elementor-1742 .elementor-element.elementor-element-6900f8c1::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-3e4eabb9 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 1%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742 .elementor-element.elementor-element-4d4c8855 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742
  .elementor-element.elementor-element-332b9d70
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-5c8f8d79 {
  text-align: left;
  z-index: 1;
}
.elementor-1742
  .elementor-element.elementor-element-5c8f8d79
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-559557ae {
  color: var(--e-global-color-e7a96ab);
}
.elementor-1742 .elementor-element.elementor-element-5b63b46e {
  color: var(--e-global-color-e7a96ab);
}
.elementor-1742 .elementor-element.elementor-element-6b2ec81e {
  color: var(--e-global-color-e7a96ab);
}
.elementor-1742
  .elementor-element.elementor-element-3954c78a
  .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742 .elementor-element.elementor-element-638771a6 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --padding-top: 2%;
  --padding-bottom: 2%;
  --padding-left: 2%;
  --padding-right: 2%;
}
.elementor-1742 .elementor-element.elementor-element-638771a6,
.elementor-1742 .elementor-element.elementor-element-638771a6::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-72496671 {
  --display: flex;
  --min-height: 45vh;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --background-transition: 0.3s;
  --border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.11);
  --margin-top: 0%;
  --margin-bottom: 10%;
  --margin-left: 0%;
  --margin-right: 0%;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-72496671:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-72496671
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
  background-image: url("/images/upgraded-points-Y52wM_pqITg-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1742 .elementor-element.elementor-element-72496671,
.elementor-1742 .elementor-element.elementor-element-72496671::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-72496671.e-con:hover {
  --e-con-transform-scale: 1.02;
}
.elementor-1742 .elementor-element.elementor-element-21a9140e {
  --display: flex;
  --min-height: 40vh;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --background-transition: 0.3s;
  --border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.11);
  --margin-top: 10%;
  --margin-bottom: 0%;
  --margin-left: 0%;
  --margin-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-21a9140e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-21a9140e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
  background-image: url("/images/david-trinks-HAaXlrhxL8c-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1742 .elementor-element.elementor-element-21a9140e,
.elementor-1742 .elementor-element.elementor-element-21a9140e::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-21a9140e.e-con:hover {
  --e-con-transform-scale: 1.02;
}
.elementor-1742 .elementor-element.elementor-element-13435249 {
  --display: flex;
  --min-height: 40vh;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --background-transition: 0.3s;
  --border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.11);
  --margin-top: -5%;
  --margin-bottom: 10%;
  --margin-left: 0%;
  --margin-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-13435249:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-13435249
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
  background-image: url("/images/lorin-lindell-18cCUC3csw4-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1742 .elementor-element.elementor-element-13435249,
.elementor-1742 .elementor-element.elementor-element-13435249::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-13435249.e-con:hover {
  --e-con-transform-scale: 1.02;
}
.elementor-1742 .elementor-element.elementor-element-4093858a {
  --display: flex;
  --min-height: 45vh;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --background-transition: 0.3s;
  --border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.11);
  --margin-top: 5%;
  --margin-bottom: 0%;
  --margin-left: 0%;
  --margin-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-4093858a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-4093858a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
  background-image: url("/images/yves-scheuber-6R1d2ihF-zE-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1742 .elementor-element.elementor-element-4093858a,
.elementor-1742 .elementor-element.elementor-element-4093858a::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-4093858a.e-con:hover {
  --e-con-transform-scale: 1.02;
}
.elementor-1742 .elementor-element.elementor-element-a793655 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-top: 40px;
  --padding-bottom: 40px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1742
  .elementor-element.elementor-element-a793655:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-a793655
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-1742 .elementor-element.elementor-element-a793655,
.elementor-1742 .elementor-element.elementor-element-a793655::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-5ba75af0 {
  text-align: left;
  z-index: 1;
}
.elementor-1742
  .elementor-element.elementor-element-5ba75af0
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: "Poppins", Sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-39672aa1 {
  text-align: center;
}
.elementor-1742
  .elementor-element.elementor-element-39672aa1
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-7e292152 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 5%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-7e292152:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-7e292152
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-1742 .elementor-element.elementor-element-7e292152,
.elementor-1742 .elementor-element.elementor-element-7e292152::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-543e70a5 {
  --display: flex;
  --background-transition: 0.3s;
  --overlay-opacity: 0.79;
  --padding-top: 1%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742 .elementor-element.elementor-element-543e70a5::before,
.elementor-1742
  .elementor-element.elementor-element-543e70a5
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-543e70a5
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-543e70a5
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-543e70a5
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-543e70a5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    #1d1d1da1 0%,
    #02737300 57%
  );
}
.elementor-1742 .elementor-element.elementor-element-2968a0f6 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742 .elementor-element.elementor-element-1743d2d9 {
  --swiper-slides-to-display: 3;
  --swiper-slides-gap: 10px;
  --swiper-pagination-size: 7px;
  --dots-normal-color: var(--e-global-color-primary);
  --dots-hover-color: #000000ba;
  --swiper-pagination-spacing: 8px;
}
.elementor-1742
  .elementor-element.elementor-element-1743d2d9
  .swiper-slide
  > .elementor-element {
  height: 100%;
}
.elementor-1742
  .elementor-element.elementor-element-3ccc5112
  .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742 .elementor-element.elementor-element-6004c7e5 {
  --display: flex;
  --min-height: 72vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 0.53;
  --padding-top: 1%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742
  .elementor-element.elementor-element-6004c7e5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-6004c7e5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("/images/michael-m-fl8bM1pBIz0-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1742 .elementor-element.elementor-element-6004c7e5::before,
.elementor-1742
  .elementor-element.elementor-element-6004c7e5
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-6004c7e5
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-6004c7e5
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-6004c7e5
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-6004c7e5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: #000000;
}
.elementor-1742 .elementor-element.elementor-element-6004c7e5,
.elementor-1742 .elementor-element.elementor-element-6004c7e5::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-459effb2 {
  --display: flex;
  --min-height: 89vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 0.5;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742 .elementor-element.elementor-element-459effb2::before,
.elementor-1742
  .elementor-element.elementor-element-459effb2
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-459effb2
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-459effb2
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-459effb2
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-459effb2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: #000000;
}
.elementor-1742 .elementor-element.elementor-element-459effb2,
.elementor-1742 .elementor-element.elementor-element-459effb2::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-459effb2.e-con {
  --align-self: center;
}
.elementor-1742 .elementor-element.elementor-element-163be6e3 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: flex-start;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742 .elementor-element.elementor-element-1443ff8f {
  text-align: left;
  z-index: 1;
}
.elementor-1742
  .elementor-element.elementor-element-1443ff8f
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-201498d8 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742 .elementor-element.elementor-element-244478d6 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 1%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742
  .elementor-element.elementor-element-43a09738
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-521b00b {
  color: var(--e-global-color-e7a96ab);
}
.elementor-1742
  .elementor-element.elementor-element-7edbef1b
  .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742 .elementor-element.elementor-element-54730815 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742
  .elementor-element.elementor-element-54730815:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-54730815
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
  background-image: url("/images/david-vives-fO6n4_WZlr4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-1742 .elementor-element.elementor-element-54730815::before,
.elementor-1742
  .elementor-element.elementor-element-54730815
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-54730815
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-54730815
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-54730815
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-54730815
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}
.elementor-1742 .elementor-element.elementor-element-54730815,
.elementor-1742 .elementor-element.elementor-element-54730815::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-1e0d0082 {
  --spacer-size: 20vh;
}
.elementor-1742 .elementor-element.elementor-element-68ba38e5 {
  --display: flex;
  --min-height: 37vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 1%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
  --z-index: 2;
}
.elementor-1742 .elementor-element.elementor-element-68ba38e5::before,
.elementor-1742
  .elementor-element.elementor-element-68ba38e5
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-68ba38e5
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-68ba38e5
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-68ba38e5
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-68ba38e5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1742 .elementor-element.elementor-element-68ba38e5,
.elementor-1742 .elementor-element.elementor-element-68ba38e5::before {
  --border-transition: 0.3s;
}
.elementor-1742
  .elementor-element.elementor-element-323ac4e0
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Oswald", Sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.elementor-1742 .elementor-element.elementor-element-7256d8af {
  text-align: center;
  z-index: 1;
}
.elementor-1742
  .elementor-element.elementor-element-7256d8af
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 4.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-5bdecdd {
  text-align: center;
}
.elementor-1742
  .elementor-element.elementor-element-5bdecdd
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1742
  .elementor-element.elementor-element-5bdecdd
  > .elementor-widget-container {
  padding: 0px 0px 20px 0px;
}
.elementor-1742 .elementor-element.elementor-element-56eb11ff {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742
  .elementor-element.elementor-element-56eb11ff:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-56eb11ff
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-1742 .elementor-element.elementor-element-56eb11ff,
.elementor-1742 .elementor-element.elementor-element-56eb11ff::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-59f78835 {
  --grid-columns: 3;
}
.elementor-1742
  .elementor-element.elementor-element-67e4cc91
  .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742 .elementor-element.elementor-element-1d110db1 {
  --display: flex;
  --min-height: 72vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --padding-top: 1%;
  --padding-bottom: 1%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742
  .elementor-element.elementor-element-1d110db1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-1d110db1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-1742 .elementor-element.elementor-element-1d110db1::before,
.elementor-1742
  .elementor-element.elementor-element-1d110db1
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-1d110db1
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-1742
  .elementor-element.elementor-element-1d110db1
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-1d110db1
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-1742
  .elementor-element.elementor-element-1d110db1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: var(--e-global-color-text);
}
.elementor-1742 .elementor-element.elementor-element-1d110db1,
.elementor-1742 .elementor-element.elementor-element-1d110db1::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-357003a4 {
  --display: flex;
  --min-height: 92vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742 .elementor-element.elementor-element-357003a4,
.elementor-1742 .elementor-element.elementor-element-357003a4::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-4474ecea {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742 .elementor-element.elementor-element-610b62f4 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-1742
  .elementor-element.elementor-element-610b62f4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1742
  .elementor-element.elementor-element-610b62f4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0e0d0d;
}
.elementor-1742 .elementor-element.elementor-element-610b62f4,
.elementor-1742 .elementor-element.elementor-element-610b62f4::before {
  --border-transition: 0.3s;
}
.elementor-1742
  .elementor-element.elementor-element-d06ecde
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-6e25cc6a {
  text-align: left;
  z-index: 1;
}
.elementor-1742
  .elementor-element.elementor-element-6e25cc6a
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.elementor-1742
  .elementor-element.elementor-element-81ff701
  .elementor-heading-title {
  color: var(--e-global-color-e7a96ab);
  font-family: "Poppins", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-1742 .elementor-element.elementor-element-c1269eb {
  color: var(--e-global-color-e7a96ab);
}
.elementor-1742 .elementor-element.elementor-element-3141e4fa {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: space-between;
  --gap: 0px 0px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-type-html {
  padding-bottom: 0px;
  color: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-group
  .elementor-field {
  color: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: var(--e-global-color-e7a96ab);
  border-color: #00000054;
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: var(--e-global-color-e7a96ab);
  border-color: #00000054;
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: #00000054;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .e-form__buttons__wrapper__button-next {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-button[type="submit"] {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-button[type="submit"]
  svg
  * {
  fill: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .e-form__buttons__wrapper__button-previous {
  background-color: var(--e-global-color-text);
  color: #ffffff;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .e-form__buttons__wrapper__button-next:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-button[type="submit"]:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: var(--e-global-color-text);
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-1742
  .elementor-element.elementor-element-62948d61
  .elementor-button {
  border-radius: 5px 5px 5px 5px;
}
.elementor-1742 .elementor-element.elementor-element-62948d61 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-1742 .elementor-element.elementor-element-50bebe56 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --padding-top: 2%;
  --padding-bottom: 2%;
  --padding-left: 2%;
  --padding-right: 2%;
}
.elementor-1742 .elementor-element.elementor-element-50bebe56,
.elementor-1742 .elementor-element.elementor-element-50bebe56::before {
  --border-transition: 0.3s;
}
.elementor-1742 .elementor-element.elementor-element-2373a303 {
  --display: flex;
  --min-height: 45vh;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --background-transition: 0.3s;
  --border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.11);
  --margin-top: 0%;
  --margin-bottom: 10%;
  --margin-left: 0%;
  --margin-right: 0%;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-1742 .elementor-element.elementor-element-2373a303,
.elementor-1742 .elementor-element.elementor-element-2373a303::before {
  --border-transition: 0.3s;
}
@media (max-width: 1024px) {
  .elementor-1742 .elementor-element.elementor-element-78248355 {
    --spacer-size: 16vh;
  }
  .elementor-1742
    .elementor-element.elementor-element-240d1ee9
    .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
  }
  .elementor-1742 .elementor-element.elementor-element-37621cb5 {
    --justify-content: center;
  }
  .elementor-1742
    .elementor-element.elementor-element-76ad35ab
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742 .elementor-element.elementor-element-6900f8c1 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }
  .elementor-1742 .elementor-element.elementor-element-3e4eabb9 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }
  .elementor-1742
    .elementor-element.elementor-element-3954c78a
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742 .elementor-element.elementor-element-1743d2d9 {
    --swiper-slides-to-display: 1;
  }
  .elementor-1742
    .elementor-element.elementor-element-3ccc5112
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742
    .elementor-element.elementor-element-459effb2:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1742
    .elementor-element.elementor-element-459effb2
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 1px auto;
  }
  .elementor-1742 .elementor-element.elementor-element-201498d8 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }
  .elementor-1742
    .elementor-element.elementor-element-7edbef1b
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742
    .elementor-element.elementor-element-54730815:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1742
    .elementor-element.elementor-element-54730815
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 100% auto;
  }
  .elementor-1742 .elementor-element.elementor-element-1e0d0082 {
    --spacer-size: 47vh;
  }
  .elementor-1742 .elementor-element.elementor-element-323ac4e0 {
    text-align: center;
  }
  .elementor-1742 .elementor-element.elementor-element-7256d8af {
    text-align: center;
  }
  .elementor-1742 .elementor-element.elementor-element-59f78835 {
    --grid-columns: 1;
  }
  .elementor-1742
    .elementor-element.elementor-element-67e4cc91
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742
    .elementor-element.elementor-element-357003a4:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1742
    .elementor-element.elementor-element-357003a4
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: 1px auto;
  }
  .elementor-1742 .elementor-element.elementor-element-4474ecea {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }
}
@media (max-width: 767px) {
  .elementor-1742 .elementor-element.elementor-element-72304dfd {
    --min-height: 72vh;
  }
  .elementor-1742
    .elementor-element.elementor-element-725eccbe
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-1742
    .elementor-element.elementor-element-240d1ee9
    .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
  }
  .elementor-1742
    .elementor-element.elementor-element-76ad35ab
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742
    .elementor-element.elementor-element-5c8f8d79
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-1742
    .elementor-element.elementor-element-3954c78a
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742 .elementor-element.elementor-element-72496671 {
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
  }
  .elementor-1742 .elementor-element.elementor-element-21a9140e {
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1742 .elementor-element.elementor-element-13435249 {
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
  }
  .elementor-1742 .elementor-element.elementor-element-4093858a {
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
  }
  .elementor-1742
    .elementor-element.elementor-element-5ba75af0
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-1742 .elementor-element.elementor-element-1743d2d9 {
    --swiper-slides-to-display: 1;
  }
  .elementor-1742
    .elementor-element.elementor-element-3ccc5112
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742 .elementor-element.elementor-element-6004c7e5 {
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
  }
  .elementor-1742
    .elementor-element.elementor-element-1443ff8f
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-1742
    .elementor-element.elementor-element-7edbef1b
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742 .elementor-element.elementor-element-1e0d0082 {
    --spacer-size: 10vh;
  }
  .elementor-1742
    .elementor-element.elementor-element-7256d8af
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-1742 .elementor-element.elementor-element-59f78835 {
    --grid-columns: 1;
  }
  .elementor-1742
    .elementor-element.elementor-element-67e4cc91
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-1742 .elementor-element.elementor-element-610b62f4 {
    --padding-top: 10%;
    --padding-bottom: 10%;
    --padding-left: 05%;
    --padding-right: 0%;
  }
  .elementor-1742
    .elementor-element.elementor-element-6e25cc6a
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-1742 .elementor-element.elementor-element-3141e4fa {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }
  .elementor-1742 .elementor-element.elementor-element-2373a303 {
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
  }
}
@media (min-width: 768px) {
  .elementor-1742 .elementor-element.elementor-element-4d4c8855 {
    --width: 50%;
  }
  .elementor-1742 .elementor-element.elementor-element-638771a6 {
    --width: 50%;
  }
  .elementor-1742 .elementor-element.elementor-element-72496671 {
    --width: 48%;
  }
  .elementor-1742 .elementor-element.elementor-element-21a9140e {
    --width: 48%;
  }
  .elementor-1742 .elementor-element.elementor-element-13435249 {
    --width: 48%;
  }
  .elementor-1742 .elementor-element.elementor-element-4093858a {
    --width: 48%;
  }
  .elementor-1742 .elementor-element.elementor-element-459effb2 {
    --width: 74%;
  }
  .elementor-1742 .elementor-element.elementor-element-244478d6 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-610b62f4 {
    --width: 50%;
  }
  .elementor-1742 .elementor-element.elementor-element-50bebe56 {
    --width: 50%;
  }
  .elementor-1742 .elementor-element.elementor-element-2373a303 {
    --width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1742 .elementor-element.elementor-element-3e4eabb9 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-4d4c8855 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-638771a6 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-6004c7e5 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-459effb2 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-163be6e3 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-201498d8 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-244478d6 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-1d110db1 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-357003a4 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-4474ecea {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-610b62f4 {
    --width: 100%;
  }
  .elementor-1742 .elementor-element.elementor-element-50bebe56 {
    --width: 100%;
  }
}
@media (min-width: 1025px) {
  .elementor-1742
    .elementor-element.elementor-element-6004c7e5:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1742
    .elementor-element.elementor-element-6004c7e5
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
