.elementor-2445 .elementor-element.elementor-element-9109080 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 20px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-2445 .elementor-element.elementor-element-906fcc2 {
  text-align: center;
}
.elementor-2445
  .elementor-element.elementor-element-906fcc2
  .elementor-heading-title {
  color: #fdfdfd;
  font-family: "Poppins", Sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
}
.elementor-2445 .elementor-element.elementor-element-1c2df9b3 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-2445 .elementor-element.elementor-element-37b0141b {
  text-align: left;
  color: #ffffff;
}
