.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MrbXKIuMaiKgDAQ > .NBfGurNEWnvShXY {
  max-width: 600px;
  min-height: 581px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MrbXKIuMaiKgDAQ:not(.cTwHTumWECWUGxA) {
  background-image: url("/images/manuel-moreno-DGa0LQ0yDPc-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MrbXKIuMaiKgDAQ > .FHZLImhpGGJVGar {
  background-color: #3b3b3b;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MrbXKIuMaiKgDAQ {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.kBbhjMgPWCOiEqB {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.kBbhjMgPWCOiEqB .XyyMNMPlXNYznOg {
  color: #ffffff;
  font-size: 77px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.greBlFufbFqrqEM {
  text-align: center;
  color: #ffffff;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.gSfhYwtDQFhfeMm.ZEifIsIUdDLmEfK
  > .NavPyBvYuiPtmLf {
  justify-content: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.YfpIfQATocEJavu .BvFyCbCTJArHhFT {
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.YfpIfQATocEJavu > .qEihFoZrobNPMaw {
  margin: 0px 5px 0px 5px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.YfpIfQATocEJavu {
  width: auto;
  max-width: auto;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gfNBZTnbdqCtuOt .BvFyCbCTJArHhFT {
  fill: #ffffff;
  color: #ffffff;
  background-color: #1668e3c7;
  border-radius: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gfNBZTnbdqCtuOt .BvFyCbCTJArHhFT:hover,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gfNBZTnbdqCtuOt .BvFyCbCTJArHhFT:focus {
  color: #ffffff;
  background-color: #1668e3;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gfNBZTnbdqCtuOt .BvFyCbCTJArHhFT:hover svg,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gfNBZTnbdqCtuOt .BvFyCbCTJArHhFT:focus svg {
  fill: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gfNBZTnbdqCtuOt > .qEihFoZrobNPMaw {
  margin: 0px 5px 0px 5px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gfNBZTnbdqCtuOt {
  width: auto;
  max-width: auto;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.WSRXDLAVkHnGYkF {
  margin-top: 100px;
  margin-bottom: 100px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NdNRHZzrPkTuuew {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NdNRHZzrPkTuuew .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.cOIWShmtEZygONR {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.cOIWShmtEZygONR > .qEihFoZrobNPMaw {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UlFZydiyfTPfhOH .BvFyCbCTJArHhFT {
  fill: #ffffff;
  color: #ffffff;
  background-color: #1668e3;
  border-radius: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UlFZydiyfTPfhOH .BvFyCbCTJArHhFT:hover,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UlFZydiyfTPfhOH .BvFyCbCTJArHhFT:focus {
  color: #ffffff;
  background-color: #1668e3d9;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UlFZydiyfTPfhOH .BvFyCbCTJArHhFT:hover svg,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UlFZydiyfTPfhOH .BvFyCbCTJArHhFT:focus svg {
  fill: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UlFZydiyfTPfhOH > .qEihFoZrobNPMaw {
  margin: 0px 5px 0px 5px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UlFZydiyfTPfhOH {
  width: auto;
  max-width: auto;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.nULtlaQEJRsLqQZ.ZEifIsIUdDLmEfK.VuNuksaKzkGVIhK[data-element_type="column"]
  > .NavPyBvYuiPtmLf.pPTyfaEvZmAIaOr {
  align-content: center;
  align-items: center;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.nULtlaQEJRsLqQZ:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
  background-image: url("/images/Screenshot-2024-02-07-at-17-43-57-Hilton-Grand-Vacations-Club-on-the-Las-Vegas-Strip.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.nULtlaQEJRsLqQZ > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.nULtlaQEJRsLqQZ
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.jKhPaZpTkuEOMhu.ZEifIsIUdDLmEfK.VuNuksaKzkGVIhK[data-element_type="column"]
  > .NavPyBvYuiPtmLf.pPTyfaEvZmAIaOr {
  align-content: center;
  align-items: center;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.qQluyfjjUKFehmq.ZEifIsIUdDLmEfK.VuNuksaKzkGVIhK[data-element_type="column"]
  > .NavPyBvYuiPtmLf.pPTyfaEvZmAIaOr {
  align-content: center;
  align-items: center;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.qQluyfjjUKFehmq:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
  background-image: url("/images/sportsbook-view-1-1024x6841-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.qQluyfjjUKFehmq > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.qQluyfjjUKFehmq
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZpIcKdfeLXyuMHj > .NBfGurNEWnvShXY {
  min-height: 300px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZpIcKdfeLXyuMHj:not(.cTwHTumWECWUGxA) {
  background-color: #8d8989;
  background-image: url("/images/fernando-alvarez-rodriguez-M7GddPqJowg-unsplash2.jpg");
  background-position: center center;
  background-size: cover;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZpIcKdfeLXyuMHj > .FHZLImhpGGJVGar {
  background-color: #3b3b3b99;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZpIcKdfeLXyuMHj {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NgGzZyYddKNTFOA {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NgGzZyYddKNTFOA .XyyMNMPlXNYznOg {
  color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NgGzZyYddKNTFOA > .qEihFoZrobNPMaw {
  background-color: #1668e3;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 10px 0px #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.GxSJVrPZiJkozOs:not(.cTwHTumWECWUGxA) {
  background-color: rgba(206, 203, 203, 0.38);
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.GxSJVrPZiJkozOs {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.GxSJVrPZiJkozOs > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.TfhUjTsUwRIWUJL:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-image: url("/images/Screenshot-2024-02-07-at-17-43-57-Hilton-Grand-Vacations-Club-on-the-Las-Vegas-Strip.png");
  background-size: cover;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.TfhUjTsUwRIWUJL > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.TfhUjTsUwRIWUJL
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.rjDXYDIvRwrQnNF {
  --spacer-size: 50px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.HdBSTFyiPpvMnAl:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.HdBSTFyiPpvMnAl > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.HdBSTFyiPpvMnAl
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ycJPbFksJuVLKRI {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ycJPbFksJuVLKRI .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:first-child) {
  margin-top: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body:not(.fmWgXhTUxuCOTEy)
  .pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:after {
  right: calc(-25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  content: "";
  border-color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-top-style: dotted;
  border-top-width: 3px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-style: dotted;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ
  .OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-width: 3px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ {
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.BYbCOsbyKwLzpAJ .zWlDzwCkiCQQaUZ > a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iImPiYKtRyGwUqm {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iImPiYKtRyGwUqm > .qEihFoZrobNPMaw {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xlRbuPlHbwjPTTJ {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xlRbuPlHbwjPTTJ .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.okKChlzAlVVfmvI .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.TOVtBRJQxTZxPpz.ZEifIsIUdDLmEfK.VuNuksaKzkGVIhK[data-element_type="column"]
  > .NavPyBvYuiPtmLf.pPTyfaEvZmAIaOr {
  align-content: center;
  align-items: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PFejBjrYZcKdcst {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PFejBjrYZcKdcst .eClEwbHbhfKQRkK {
  font-size: 20px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PFejBjrYZcKdcst .eClEwbHbhfKQRkK i:before {
  color: #4c4c53;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PFejBjrYZcKdcst .eClEwbHbhfKQRkK i {
  color: rgba(0, 0, 0, 0.1);
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.BDDsmYhtySGLhSB {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.BDDsmYhtySGLhSB .XyyMNMPlXNYznOg {
  color: #227950;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iljldZeSfVrBirv .BvFyCbCTJArHhFT {
  fill: #ffffff;
  color: #ffffff;
  background-color: #1668e3;
  border-radius: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iljldZeSfVrBirv .BvFyCbCTJArHhFT:hover,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iljldZeSfVrBirv .BvFyCbCTJArHhFT:focus {
  color: #ffffff;
  background-color: #1668e3d9;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iljldZeSfVrBirv .BvFyCbCTJArHhFT:hover svg,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iljldZeSfVrBirv .BvFyCbCTJArHhFT:focus svg {
  fill: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iljldZeSfVrBirv > .qEihFoZrobNPMaw {
  margin: 0% 0% 0% 0%;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iljldZeSfVrBirv {
  width: var(--container-widget-width, 103.077%);
  max-width: 103.077%;
  --container-widget-width: 103.077%;
  --container-widget-flex-grow: 0;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.PajOxbyylKnwwwF:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PajOxbyylKnwwwF > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.PajOxbyylKnwwwF
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.IIvekxjzBzvjrNY:not(.cTwHTumWECWUGxA) {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.IIvekxjzBzvjrNY {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.IIvekxjzBzvjrNY > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VhLRvuRshVVFBaN {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VhLRvuRshVVFBaN .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:first-child) {
  margin-top: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body:not(.fmWgXhTUxuCOTEy)
  .pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:after {
  right: calc(-25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  content: "";
  border-color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-top-style: dotted;
  border-top-width: 3px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-style: dotted;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd
  .OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-width: 3px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd {
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dVpnnUcJqQLAVAd .zWlDzwCkiCQQaUZ > a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.rlvnVrgaZQXnwYn {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.rlvnVrgaZQXnwYn > .qEihFoZrobNPMaw {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.pDzupcRVGGFYGGe {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.pDzupcRVGGFYGGe .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.efjIIjqdlHRiQvR .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.iuvkdqseHjtmxQf.ZEifIsIUdDLmEfK.VuNuksaKzkGVIhK[data-element_type="column"]
  > .NavPyBvYuiPtmLf.pPTyfaEvZmAIaOr {
  align-content: center;
  align-items: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.HKqYMXPmsdAQpSX {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.HKqYMXPmsdAQpSX .eClEwbHbhfKQRkK {
  font-size: 20px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.HKqYMXPmsdAQpSX .eClEwbHbhfKQRkK i:before {
  color: #4c4c53;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.HKqYMXPmsdAQpSX .eClEwbHbhfKQRkK i {
  color: rgba(0, 0, 0, 0.1);
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MHPvGHMamjHyrXS {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MHPvGHMamjHyrXS .XyyMNMPlXNYznOg {
  color: #227950;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fpoXlSlxqifJzEd .BvFyCbCTJArHhFT {
  fill: #ffffff;
  color: #ffffff;
  background-color: #1668e3;
  border-radius: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fpoXlSlxqifJzEd .BvFyCbCTJArHhFT:hover,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fpoXlSlxqifJzEd .BvFyCbCTJArHhFT:focus {
  color: #ffffff;
  background-color: #1668e3d9;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fpoXlSlxqifJzEd .BvFyCbCTJArHhFT:hover svg,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fpoXlSlxqifJzEd .BvFyCbCTJArHhFT:focus svg {
  fill: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fpoXlSlxqifJzEd > .qEihFoZrobNPMaw {
  margin: 0% 0% 0% 0%;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fpoXlSlxqifJzEd {
  width: var(--container-widget-width, 101%);
  max-width: 101%;
  --container-widget-width: 101%;
  --container-widget-flex-grow: 0;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.fQgsctSqdTwRanZ:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-image: url("/images/Screenshot-2024-02-12-at-13-10-52-The-Cosmopolitan-Of-Las-Vegas.png");
  background-size: cover;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fQgsctSqdTwRanZ > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.fQgsctSqdTwRanZ
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MBXstKvJkIsqKZX {
  --spacer-size: 50px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.ujGrKqfnNBsUxTd:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-image: url("/images/Screenshot-2024-02-12-at-13-19-22-ARIA-Resort-Casino.png");
  background-size: cover;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ujGrKqfnNBsUxTd > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.ujGrKqfnNBsUxTd
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NmTxIrqDBLtfvOw {
  --spacer-size: 50px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.OXutiPuSFqanNpO:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.OXutiPuSFqanNpO > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.OXutiPuSFqanNpO
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.DWRXGOXUQISyvLe {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.DWRXGOXUQISyvLe .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:first-child) {
  margin-top: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body:not(.fmWgXhTUxuCOTEy)
  .pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:after {
  right: calc(-25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  content: "";
  border-color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-top-style: dotted;
  border-top-width: 3px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-style: dotted;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.tpCQzYStDWegUkV
  .OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-width: 3px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.tpCQzYStDWegUkV {
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.tpCQzYStDWegUkV .zWlDzwCkiCQQaUZ > a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.uLPqIeRgByhANeV {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.uLPqIeRgByhANeV > .qEihFoZrobNPMaw {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZPkXyilatTkdxoh {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZPkXyilatTkdxoh .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.nNLRNvdUwKGkGxg .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.KYwIVzEOXzYodiN.ZEifIsIUdDLmEfK.VuNuksaKzkGVIhK[data-element_type="column"]
  > .NavPyBvYuiPtmLf.pPTyfaEvZmAIaOr {
  align-content: center;
  align-items: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PssxrvgbgRLXItn {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PssxrvgbgRLXItn .eClEwbHbhfKQRkK {
  font-size: 20px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PssxrvgbgRLXItn .eClEwbHbhfKQRkK i:before {
  color: #4c4c53;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.PssxrvgbgRLXItn .eClEwbHbhfKQRkK i {
  color: rgba(0, 0, 0, 0.1);
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.RhTpLSSNhFxTAml {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.RhTpLSSNhFxTAml .XyyMNMPlXNYznOg {
  color: #227950;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EUgTWhWQPqLRxlU .BvFyCbCTJArHhFT {
  fill: #ffffff;
  color: #ffffff;
  background-color: #1668e3;
  border-radius: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EUgTWhWQPqLRxlU .BvFyCbCTJArHhFT:hover,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EUgTWhWQPqLRxlU .BvFyCbCTJArHhFT:focus {
  color: #ffffff;
  background-color: #1668e3d9;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EUgTWhWQPqLRxlU .BvFyCbCTJArHhFT:hover svg,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EUgTWhWQPqLRxlU .BvFyCbCTJArHhFT:focus svg {
  fill: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EUgTWhWQPqLRxlU > .qEihFoZrobNPMaw {
  margin: 0% 0% 0% 0%;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EUgTWhWQPqLRxlU {
  width: var(--container-widget-width, 103.077%);
  max-width: 103.077%;
  --container-widget-width: 103.077%;
  --container-widget-flex-grow: 0;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.MZCifBrFTYPzquM:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MZCifBrFTYPzquM > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.MZCifBrFTYPzquM
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.SPKeDiIePRdvtEo:not(.cTwHTumWECWUGxA) {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.SPKeDiIePRdvtEo {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.SPKeDiIePRdvtEo > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.oXyhpwPXkHJIRHR {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.oXyhpwPXkHJIRHR .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:first-child) {
  margin-top: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body:not(.fmWgXhTUxuCOTEy)
  .pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:after {
  right: calc(-25px / 2);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  content: "";
  border-color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .wlQuGvYtbwKmCoN:not(.OZFiDeSofZHvmYk)
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-top-style: dotted;
  border-top-width: 3px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .wlQuGvYtbwKmCoN.OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-style: dotted;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.yFMZzlijzmGypJm
  .OZFiDeSofZHvmYk
  .zWlDzwCkiCQQaUZ:not(:last-child):after {
  border-left-width: 3px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.yFMZzlijzmGypJm {
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.yFMZzlijzmGypJm .zWlDzwCkiCQQaUZ > a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xUxNmrkZvPzgzPr {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xUxNmrkZvPzgzPr > .qEihFoZrobNPMaw {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.jhdRtwmahHoQtRx {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.jhdRtwmahHoQtRx .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.HCUfyUFqDIipwcX .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.mrfyFszXnuXQepp.ZEifIsIUdDLmEfK.VuNuksaKzkGVIhK[data-element_type="column"]
  > .NavPyBvYuiPtmLf.pPTyfaEvZmAIaOr {
  align-content: center;
  align-items: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xaFRPUBpZeWqHrk {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xaFRPUBpZeWqHrk .eClEwbHbhfKQRkK {
  font-size: 20px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xaFRPUBpZeWqHrk .eClEwbHbhfKQRkK i:before {
  color: #4c4c53;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xaFRPUBpZeWqHrk .eClEwbHbhfKQRkK i {
  color: rgba(0, 0, 0, 0.1);
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZWTopZwhmxUfaVk {
  text-align: right;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.ZWTopZwhmxUfaVk .XyyMNMPlXNYznOg {
  color: #227950;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.FqTjgxmKmFXCnDu .BvFyCbCTJArHhFT {
  fill: #ffffff;
  color: #ffffff;
  background-color: #1668e3;
  border-radius: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.FqTjgxmKmFXCnDu .BvFyCbCTJArHhFT:hover,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.FqTjgxmKmFXCnDu .BvFyCbCTJArHhFT:focus {
  color: #ffffff;
  background-color: #1668e3d9;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.FqTjgxmKmFXCnDu .BvFyCbCTJArHhFT:hover svg,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.FqTjgxmKmFXCnDu .BvFyCbCTJArHhFT:focus svg {
  fill: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.FqTjgxmKmFXCnDu > .qEihFoZrobNPMaw {
  margin: 0% 0% 0% 0%;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.FqTjgxmKmFXCnDu {
  width: var(--container-widget-width, 101%);
  max-width: 101%;
  --container-widget-width: 101%;
  --container-widget-flex-grow: 0;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.UkCZfaZCildyoeY:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-image: url("/images/Screenshot-2024-02-12-at-13-21-23-95065d0e.jpg-WEBP-Image-1200-%C3%83_-1320-pixels-%C3%A2__-Scaled-71.png");
  background-size: cover;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.UkCZfaZCildyoeY > .pPTyfaEvZmAIaOr {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.UkCZfaZCildyoeY
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VwxgBsfoMfZBGId {
  --spacer-size: 50px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.pgmjskyvQDnJuVH {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.pgmjskyvQDnJuVH .XyyMNMPlXNYznOg {
  color: #0d0f0f;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM
  .YhPNJGfuoOLAGHx
  .rpJaMfvCGwlYEWK {
  background-image: url(/images/c4b3021e.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM
  .YhPNJGfuoOLAGHx
  .FHZLImhpGGJVGar {
  background-color: rgba(0, 0, 0, 0.5);
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM
  .KrUWZfdqYEiLSPG
  .rpJaMfvCGwlYEWK {
  background-image: url(/images/8b56218c2.jpg);
  background-size: cover;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM
  .KrUWZfdqYEiLSPG
  .FHZLImhpGGJVGar {
  background-color: rgba(0, 0, 0, 0.5);
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM .khNpaewQZuRHcKg {
  height: 470px;
  transition-duration: calc(5000ms * 1.2);
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM .azvGfEEbiGBJHKG {
  max-width: 66%;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM .xOcXTtpTGcjoQcP {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM .VPPuKKDptGQgfnC {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM .pOoIKJdSUhjYfGz {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.lyCQUDQuGiMyQfM .chwgJjsuXXCPqdj {
  border-width: 0px;
  border-radius: 5px;
  background-color: #1668e3;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.GfSHKOJFQtiejbx {
  padding: 100px 0px 100px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EVhVIfWLInUXCuX {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EVhVIfWLInUXCuX .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EVhVIfWLInUXCuX > .qEihFoZrobNPMaw {
  margin: 0px 0px 30px 0px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.AKHYrNcIedPFsWf:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.AKHYrNcIedPFsWf:hover > .pPTyfaEvZmAIaOr {
  background-color: #f6f6f6;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.AKHYrNcIedPFsWf > .pPTyfaEvZmAIaOr {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px 20px 30px 20px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.AKHYrNcIedPFsWf
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.upaTgumQQFcOrtO {
  --icon-box-icon-margin: 15px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.upaTgumQQFcOrtO .bRXIyFnbeUhWWxh {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.upaTgumQQFcOrtO .bRXIyFnbeUhWWxh,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.upaTgumQQFcOrtO .bRXIyFnbeUhWWxh a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.upaTgumQQFcOrtO .qqcfOcARNZxNMIH {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.wfvDHphsnNlkhrB:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.wfvDHphsnNlkhrB:hover > .pPTyfaEvZmAIaOr {
  background-color: #f6f6f6;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.wfvDHphsnNlkhrB > .pPTyfaEvZmAIaOr {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px 20px 30px 20px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.wfvDHphsnNlkhrB
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.bgsfQzILYwSCtIA {
  --icon-box-icon-margin: 15px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.bgsfQzILYwSCtIA .bRXIyFnbeUhWWxh {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.bgsfQzILYwSCtIA .bRXIyFnbeUhWWxh,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.bgsfQzILYwSCtIA .bRXIyFnbeUhWWxh a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.bgsfQzILYwSCtIA .qqcfOcARNZxNMIH {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.YKkzXJteFdPedAT:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.YKkzXJteFdPedAT:hover > .pPTyfaEvZmAIaOr {
  background-color: #f6f6f6;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.YKkzXJteFdPedAT > .pPTyfaEvZmAIaOr {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px 20px 30px 20px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.YKkzXJteFdPedAT
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NHqNyBxQiTZqPEa {
  --icon-box-icon-margin: 15px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NHqNyBxQiTZqPEa .bRXIyFnbeUhWWxh {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NHqNyBxQiTZqPEa .bRXIyFnbeUhWWxh,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NHqNyBxQiTZqPEa .bRXIyFnbeUhWWxh a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NHqNyBxQiTZqPEa .qqcfOcARNZxNMIH {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.aVHrSrLrrNGjjDV:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.aVHrSrLrrNGjjDV:hover > .pPTyfaEvZmAIaOr {
  background-color: #f6f6f6;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.aVHrSrLrrNGjjDV > .pPTyfaEvZmAIaOr {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px 20px 30px 20px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.aVHrSrLrrNGjjDV
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dcDHdCaIUthrcjP {
  --icon-box-icon-margin: 15px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dcDHdCaIUthrcjP .bRXIyFnbeUhWWxh {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dcDHdCaIUthrcjP .bRXIyFnbeUhWWxh,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dcDHdCaIUthrcjP .bRXIyFnbeUhWWxh a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dcDHdCaIUthrcjP .qqcfOcARNZxNMIH {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.uXueaNQxLnUyjvT:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.uXueaNQxLnUyjvT:hover > .pPTyfaEvZmAIaOr {
  background-color: #f6f6f6;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.uXueaNQxLnUyjvT > .pPTyfaEvZmAIaOr {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px 20px 30px 20px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.uXueaNQxLnUyjvT
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VOvefnoENMlCqxT {
  --icon-box-icon-margin: 15px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VOvefnoENMlCqxT .bRXIyFnbeUhWWxh {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VOvefnoENMlCqxT .bRXIyFnbeUhWWxh,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VOvefnoENMlCqxT .bRXIyFnbeUhWWxh a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VOvefnoENMlCqxT .qqcfOcARNZxNMIH {
  color: #000000;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.jXxgEQnhlWCMFrr:not(.cTwHTumWECWUGxA)
  > .NavPyBvYuiPtmLf {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.jXxgEQnhlWCMFrr:hover > .pPTyfaEvZmAIaOr {
  background-color: #f6f6f6;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.jXxgEQnhlWCMFrr > .pPTyfaEvZmAIaOr {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 30px 20px 30px 20px;
}
.pOxsOlFNMVNewes
  .VuNuksaKzkGVIhK.jXxgEQnhlWCMFrr
  > .pPTyfaEvZmAIaOr
  > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fsGqXJRpkphztco {
  --icon-box-icon-margin: 15px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fsGqXJRpkphztco .bRXIyFnbeUhWWxh {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fsGqXJRpkphztco .bRXIyFnbeUhWWxh,
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fsGqXJRpkphztco .bRXIyFnbeUhWWxh a {
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.fsGqXJRpkphztco .qqcfOcARNZxNMIH {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.levxIgmvCKOGrcz > .FHZLImhpGGJVGar {
  background-color: #1668e3;
  opacity: 0.89;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.levxIgmvCKOGrcz {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.TOlEzVGXhMCsJqA > .NBfGurNEWnvShXY {
  max-width: 600px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.TOlEzVGXhMCsJqA {
  padding: 0px 0px 30px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EYDKTvMmARozuWW {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EYDKTvMmARozuWW .XyyMNMPlXNYznOg {
  color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.BrmKfrleXxwEmqM {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.BrmKfrleXxwEmqM .XyyMNMPlXNYznOg {
  color: #ffffff;
  font-size: 65px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.GsipfZvTwuUVlYG {
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  font-style: italic;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.GsipfZvTwuUVlYG > .qEihFoZrobNPMaw {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dfAJOrJSuACzrwd:not(.cTwHTumWECWUGxA) {
  background-color: #ffffff;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dfAJOrJSuACzrwd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.dfAJOrJSuACzrwd > .FHZLImhpGGJVGar {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.mVvUZkwwBPiVSYJ {
  text-align: center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.mVvUZkwwBPiVSYJ .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.mVvUZkwwBPiVSYJ > .qEihFoZrobNPMaw {
  margin: 0px 0px 30px 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.SEEZTEbvSHnFoGl img {
  width: 100%;
  max-width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.yaNZDEGoQomdZjD {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.yaNZDEGoQomdZjD .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iFyNTMeeUSmKJvD {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iFyNTMeeUSmKJvD .zWlDzwCkiCQQaUZ > a {
  font-size: 14px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.gSYTpEZtFHBFzpK img {
  width: 100%;
  max-width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EayakWdTGwtKhdl {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.EayakWdTGwtKhdl .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.tYxptjmQqgWrCDi {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.tYxptjmQqgWrCDi .zWlDzwCkiCQQaUZ > a {
  font-size: 14px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.GnkxFKzjBwGYqfR img {
  width: 100%;
  max-width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.qJkRbxNsClBySGR {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.qJkRbxNsClBySGR .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.hTVXgYGwCNAPJtj {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.hTVXgYGwCNAPJtj .zWlDzwCkiCQQaUZ > a {
  font-size: 14px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.JfduHXqueiUKCsC img {
  width: 100%;
  max-width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center center;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xbZPIfUNLEtpflM {
  text-align: left;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.xbZPIfUNLEtpflM .XyyMNMPlXNYznOg {
  color: #000000;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.OOXouOsfcDTMpUb {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.pOxsOlFNMVNewes .VuNuksaKzkGVIhK.OOXouOsfcDTMpUb .zWlDzwCkiCQQaUZ > a {
  font-size: 14px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 767px) {
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.rjDXYDIvRwrQnNF {
    --spacer-size: 175px;
  }
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.MBXstKvJkIsqKZX {
    --spacer-size: 175px;
  }
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.NmTxIrqDBLtfvOw {
    --spacer-size: 175px;
  }
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.VwxgBsfoMfZBGId {
    --spacer-size: 175px;
  }
}
@media (min-width: 768px) {
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.iWRnADUrtnOeIpz {
    width: 27.3%;
  }
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.nULtlaQEJRsLqQZ {
    width: 33.999%;
  }
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.jKhPaZpTkuEOMhu {
    width: 4.641%;
  }
  .pOxsOlFNMVNewes .VuNuksaKzkGVIhK.qQluyfjjUKFehmq {
    width: 33.999%;
  }
}
