.elementor-288 .elementor-element.elementor-element-206cfce {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-288 .elementor-element.elementor-element-206cfce,
.elementor-288 .elementor-element.elementor-element-206cfce::before {
  --border-transition: 0.3s;
}
.elementor-288 .elementor-element.elementor-element-5190091 {
  --display: flex;
  --min-height: 62vh;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: space-evenly;
  --align-items: flex-end;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  border-style: none;
  --border-style: none;
  --border-radius: 5px 5px 5px 5px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
  --e-con-transform-origin-x: center;
  --e-con-transform-origin-y: bottom;
}
.elementor-288
  .elementor-element.elementor-element-5190091:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-288
  .elementor-element.elementor-element-5190091
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-288 .elementor-element.elementor-element-5190091::before,
.elementor-288
  .elementor-element.elementor-element-5190091
  > .elementor-background-video-container::before,
.elementor-288
  .elementor-element.elementor-element-5190091
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-288
  .elementor-element.elementor-element-5190091
  > .elementor-background-slideshow::before,
.elementor-288
  .elementor-element.elementor-element-5190091
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-288
  .elementor-element.elementor-element-5190091
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #0000002e 0%,
    var(--e-global-color-text) 100%
  );
}
.elementor-288 .elementor-element.elementor-element-5190091,
.elementor-288 .elementor-element.elementor-element-5190091::before {
  --border-transition: 0.3s;
}
.elementor-288 .elementor-element.elementor-element-5190091.e-con:hover {
  --e-con-transform-scale: 1.05;
}
.elementor-288 .elementor-element.elementor-element-27be8a3 {
  --display: flex;
  --justify-content: center;
  --align-items: flex-start;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
  --padding-top: 5%;
  --padding-bottom: 5%;
  --padding-left: 5%;
  --padding-right: 5%;
}
.elementor-288 .elementor-element.elementor-element-f943022 {
  text-align: left;
}
.elementor-288
  .elementor-element.elementor-element-f943022
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: "Poppins", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl
  .elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-primary);
  transition: color 0.3s;
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-primary);
  transition: fill 0.3s;
}
.elementor-288 .elementor-element.elementor-element-b41dac6 {
  --e-icon-list-icon-size: 16px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0
    0;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 0px;
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-288
  .elementor-element.elementor-element-b41dac6
  .elementor-icon-list-text {
  color: var(--e-global-color-e7a96ab);
  transition: color 0.3s;
}
.elementor-288 .elementor-element.elementor-element-5b0d6e2 {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --border-radius: 10px 0px 0px 0px;
  --padding-top: 7%;
  --padding-bottom: 7%;
  --padding-left: 7%;
  --padding-right: 7%;
  --e-con-transform-origin-x: right;
  --e-con-transform-origin-y: top;
}
.elementor-288
  .elementor-element.elementor-element-5b0d6e2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-288
  .elementor-element.elementor-element-5b0d6e2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-288 .elementor-element.elementor-element-5b0d6e2:hover {
  --border-radius: 10px 0px 0px 0px;
  --border-top-left-radius: 10px;
  --border-top-right-radius: 0px;
  --border-bottom-right-radius: 0px;
  --border-bottom-left-radius: 0px;
  box-shadow: -21px -17px 40px 0px rgba(0, 0, 0, 0.25);
}
.elementor-288 .elementor-element.elementor-element-5b0d6e2,
.elementor-288 .elementor-element.elementor-element-5b0d6e2::before {
  --border-transition: 2s;
}
.elementor-288 .elementor-element.elementor-element-5b0d6e2.e-con:hover {
  --e-con-transform-scale: 1.1;
}
.elementor-288
  .elementor-element.elementor-element-319cab6
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-288
  .elementor-element.elementor-element-319cab6.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-text);
}
.elementor-288
  .elementor-element.elementor-element-319cab6.elementor-view-framed
  .elementor-icon,
.elementor-288
  .elementor-element.elementor-element-319cab6.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-text);
  border-color: var(--e-global-color-text);
}
.elementor-288
  .elementor-element.elementor-element-319cab6.elementor-view-framed
  .elementor-icon,
.elementor-288
  .elementor-element.elementor-element-319cab6.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-text);
}
.elementor-288 .elementor-element.elementor-element-319cab6 .elementor-icon {
  font-size: 42px;
}
.elementor-288
  .elementor-element.elementor-element-319cab6
  .elementor-icon
  svg {
  height: 42px;
}
@media (max-width: 1024px) {
  .elementor-288
    .elementor-element.elementor-element-b41dac6
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-288
    .elementor-element.elementor-element-b41dac6
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-accent-font-size);
  }
}
@media (max-width: 767px) {
  .elementor-288 .elementor-element.elementor-element-206cfce {
    --width: 100%;
    --justify-content: flex-end;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
  }
  .elementor-288 .elementor-element.elementor-element-5190091 {
    --width: 100%;
    --min-height: 65vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 0px 0px;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
  }
  .elementor-288 .elementor-element.elementor-element-5190091.e-con:hover {
    --e-con-transform-scale: 1.02;
  }
  .elementor-288 .elementor-element.elementor-element-27be8a3 {
    --width: 100%;
    --flex-direction: column;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: flex-end;
    --align-items: center;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
  }
  .elementor-288
    .elementor-element.elementor-element-b41dac6
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-288
    .elementor-element.elementor-element-b41dac6
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-288 .elementor-element.elementor-element-5b0d6e2 {
    --width: 100%;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
  }
}
@media (min-width: 768px) {
  .elementor-288 .elementor-element.elementor-element-27be8a3 {
    --width: 78%;
  }
  .elementor-288 .elementor-element.elementor-element-5b0d6e2 {
    --width: 25%;
  }
}
