html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

menu,
nav {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code {
  font-size: 1em;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.kGeRoarCeEhqYbr {
  max-width: 100%;
  display: inline-block;
}

.sQetMTLdIxwqxWF {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

input.sQetMTLdIxwqxWF {
  -webkit-appearance: button;
}

h1,
h2,
h3,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin: 0 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.otzDFtUkpDvIGVN {
  margin: 0 0 15px;
}

.AJGNEJUaafoTVsM {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.MwztCTRZhDnDsBQ {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

.yvvaConuHGiaYDx {
  width: 100%;
  height: 38px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.yvvaConuHGiaYDx:-moz-placeholder {
  color: #999;
}

.yvvaConuHGiaYDx::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.yvvaConuHGiaYDx:-ms-input-placeholder {
  color: #999;
}

.yvvaConuHGiaYDx::-webkit-input-placeholder {
  color: #999;
}

.yvvaConuHGiaYDx:focus {
  border-color: #3898ec;
  outline: 0;
}

.yFVcOCQFJtarNHk {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.yFVcOCQFJtarNHk:before,
.yFVcOCQFJtarNHk:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.yFVcOCQFJtarNHk:after {
  clear: both;
}

@media screen and (max-width: 991px) {
  .yFVcOCQFJtarNHk {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .yFVcOCQFJtarNHk {
    max-width: none;
  }
}

.OHKvsObFudzErAB {
  height: 300px;
  text-align: center;
  clear: both;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  background: #ddd;
  position: relative;
}

.kOjYfIpomEghwHG {
  z-index: 1;
  height: 100%;
  white-space: nowrap;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.oNMqrJylqOuZWKQ {
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
  display: inline-block;
  position: relative;
}

.FmMCfSKkCSewVXe {
  z-index: 2;
  height: 40px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  margin: auto;
  padding-top: 10px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.FmMCfSKkCSewVXe.JQsuntFWBiQqCEn > div {
  border-radius: 100%;
}

.FmMCfSKkCSewVXe.SKwrQJqGMKVgNgf > div {
  width: auto;
  height: auto;
  font-size: inherit;
  line-height: inherit;
  padding: 0.2em 0.5em;
}

.mjXgHYDDPsOcefZ {
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 3px 0.5em;
  transition: background-color 0.1s, color 0.1s;
  display: inline-block;
  position: relative;
}

.mjXgHYDDPsOcefZ.vmwPfuASCzXxBvq {
  background-color: #fff;
}

.mjXgHYDDPsOcefZ:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
}

.mjXgHYDDPsOcefZ:focus.vmwPfuASCzXxBvq {
  box-shadow: none;
}

.XrmozQVEhaWJmSc,
.OeMFVbNcIDcQgsj {
  width: 80px;
  cursor: pointer;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  font-size: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.XrmozQVEhaWJmSc:focus,
.OeMFVbNcIDcQgsj:focus {
  outline: 0;
}

.XrmozQVEhaWJmSc {
  z-index: 3;
  right: auto;
}

.OeMFVbNcIDcQgsj {
  z-index: 4;
  left: auto;
}

.MbntaHFimYnbxRx {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.beRRRZtQNnKzqqu {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

.dTrKFKQEURowjVI,
.pBTRjLryYQDdhKr {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}

.dTrKFKQEURowjVI {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
  display: inline-block;
}

.dTrKFKQEURowjVI:focus {
  outline: 0;
}

.WmpRnjuOZTxVWDo {
  min-width: 100%;
  background: #ddd;
  display: none;
  position: absolute;
}

.pBTRjLryYQDdhKr {
  color: #222;
  padding: 10px 20px;
  display: block;
}

.pBTRjLryYQDdhKr.HPHYaQzwAwtTvaU {
  color: #0082f3;
}

.pBTRjLryYQDdhKr:focus {
  outline: 0;
}

@media screen and (max-width: 767px) {
  .OzWzTYhoQVpPtKN {
    padding-left: 10px;
  }
}

.gTtYMlxqIbMuQmh {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.gTtYMlxqIbMuQmh:before,
.gTtYMlxqIbMuQmh:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.gTtYMlxqIbMuQmh:after {
  clear: both;
}

.OzWzTYhoQVpPtKN {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.iJwFFdAWEEqQmOa {
  float: right;
  position: relative;
}

.OIaDoIhLZDTENtk {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.zZqSssJiVDpthRz {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.zZqSssJiVDpthRz:focus {
  outline: 0;
}

@media screen and (max-width: 991px) {
  .gTtYMlxqIbMuQmh[data-collapse="medium"] .iJwFFdAWEEqQmOa {
    display: none;
  }

  .gTtYMlxqIbMuQmh[data-collapse="medium"] .zZqSssJiVDpthRz {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .OzWzTYhoQVpPtKN {
    padding-left: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.OZjDpENKWRVLaAb {
  display: none !important;
}

.KbOufaYWEiJGJDm {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.lonOFLyPBmqTzfl {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.VyivqKXWHJsgWka {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

h1 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 400;
  line-height: 130%;
}

h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 400;
  line-height: 150%;
}

h3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 34px;
  font-weight: 400;
  line-height: 150%;
}

h5 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}

h6 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

p {
  color: #000;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

blockquote {
  color: #333;
  border-left: 0 #000;
  margin-bottom: 80px;
  padding: 0;
  font-size: 34px;
  line-height: 170%;
}

.wxMfzbIaIoEsiQx {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
}

.XaqzKzBXDIVjYzQ {
  width: 100%;
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.PjEvGuOFSnnQyeJ {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: static;
}

.rHvWlEpvDlNKjen {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  margin-left: auto;
  padding-right: 50px;
  display: flex;
  position: static;
}

.PLPViMZwsrXbwZx {
  color: #000;
  padding: 5px;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  transition: color 0.3s;
}

.PLPViMZwsrXbwZx:hover {
  color: #3791aa;
}

.lobgiipLtLlyPOi {
  grid-column-gap: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  display: flex;
}

.kdXkGdrZwGkbsYO {
  grid-column-gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
  position: static;
}

.pUOFRHviHsjndci {
  width: 40px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.XopInxFQSvCeLOj {
  margin-left: 10px;
}

.QYzymhfAqajUVqn {
  width: 24px;
  height: 1px;
  background-color: #000;
  margin-bottom: 6px;
}

.lrQmPfnHKsLuLhW {
  width: 24px;
  height: 1px;
  background-color: #000;
}

.VMrsZaRflafdplG {
  width: 24px;
  height: 1px;
  background-color: #000;
  margin-top: 6px;
}

.QmTTwnPYSLjPepX {
  padding: 0;
  transition: color 0.3s;
}

.QmTTwnPYSLjPepX:hover {
  color: #3791aa;
}

.VIvarIRsXsKKFHI {
  background-color: #fff;
  top: 55px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.bEiGxoKaRIhGsgx {
  padding: 8px;
  transition: color 0.3s;
}

.bEiGxoKaRIhGsgx:hover {
  color: #3791aa;
}

.bEiGxoKaRIhGsgx.HPHYaQzwAwtTvaU {
  color: #000;
  font-weight: 500;
}

.tkNfAKmreDVhaJF {
  width: 100%;
  max-width: 197px;
  background-color: #fff;
  border: 1px solid #eee;
  margin-right: 0;
  padding: 30px 88px 30px 22px;
}

.gWYvnCUicoexzHN {
  background-color: #fbeec1;
  padding-top: 100px;
  padding-bottom: 100px;
}

.gWYvnCUicoexzHN.JitBGtPcAFFEsOX {
  padding-top: 50px;
  padding-bottom: 50px;
}

.DWRbCPWvlljsNKF {
  text-align: center;
}
.DWRbCPWvlljsNKF h1 {
  color: #659bdb;
}
.DWRbCPWvlljsNKF h3 {
  color: #659bdb;
}

.ibMSvbVSfpeteVv {
  display: none;
}

.baOKAXoNFQycGnl {
  font-size: 14px;
  line-height: 150%;
}

.MFlxPRIHaKorDVD {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  border-radius: 40px;
  padding: 12px 34px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  transition: color 0.3s, background-color 0.3s;
}

.MFlxPRIHaKorDVD:hover {
  color: #fff;
  background-color: #659bdb;
  text-decoration: none;
}

.yydiXGYsDFkuPfT {
  justify-content: space-between;
  margin-bottom: 60px;
  display: flex;
}

.ciXllJgyStDHfCl {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.ciXllJgyStDHfCl.zAiJMEOSLBqmOOW {
  grid-column-gap: 15px;
}

.RgGegihxYjKrUTN {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
  display: flex;
}

.RgGegihxYjKrUTN:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.YdQargRJziiLYVC {
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 30.86% 15.43% 10% 10%;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-bottom: 100px;
  display: grid;
}

.ElffyEyBvppFEYN {
  border-bottom: 1px solid #fff;
  align-items: stretch;
  padding-bottom: 10px;
  display: flex;
}

.ZagjClPpGuXYXEF {
  color: #fff;
  margin-bottom: 16px;
}

.nKJbhuxdeVylkmS {
  color: #fff;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 150%;
}

.RJZskQbjvnZsgAO {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding: 0;
}

.RJZskQbjvnZsgAO::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
}

.RJZskQbjvnZsgAO::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
}

.AOPeHJisHiSUXsr {
  background-color: rgba(0, 0, 0, 0);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0 30px 0 0;
  transition: background-position 0.3s;
}

.AOPeHJisHiSUXsr:hover {
  background-position: 100% 40%;
}

.XIwUerlOgnvyYuj {
  color: #fff;
  margin-top: 20px;
  font-size: 12px;
  line-height: 150%;
}

.beIWsTBPrMoxSnQ {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
}

.tgCTvOCwSuRRjft {
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.NkgjBpgTzAXlCep {
  color: #fff;
  text-decoration: none;
}

.NkgjBpgTzAXlCep:hover {
  text-decoration: underline;
}

.FJtClXbbjuArKnL {
  color: #fff;
}

.YdmrVVJepySsYSm {
  border-top: 1px solid #fff;
  justify-content: space-between;
  padding-top: 20px;
  display: flex;
}

.viEBTmzdjqcHSlw {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
}

.TheTSlhZyImNIUo {
  color: #fff;
}

.TheTSlhZyImNIUo:hover {
  text-decoration: none;
}

.ievyQxbuaFcknof {
  grid-column-gap: 15px;
  align-items: center;
  display: flex;
}

.ZCyiOpnsUTrjzrJ {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}

.ZCyiOpnsUTrjzrJ:hover {
  text-decoration: underline;
}

.jTgiQEVJbbKrVHD {
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}

.bEJfXfBUnhlooAY {
  height: 100%;
  max-height: 680px;
  min-height: 680px;
  background-color: #f4f2f3;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/furn1.jpeg);
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.tGcrngpDKqzPneO {
  z-index: 10;
  flex-direction: row;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
}

.zrXYjHIaovWWJiD {
  width: 100%;
  max-width: 70%;
  flex: 1;
}

.fPTwpCRHDjRvuDi {
  color: #fff;
  margin-bottom: 20px;
}

.AEyNMvJCOqnpJmy {
  width: 100%;
  max-width: 70%;
  color: #fff;
  margin-bottom: 50px;
}

.zXKLnGwoQMcUxgr {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 12px 34px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}

.zXKLnGwoQMcUxgr:hover {
  color: #fff;
  background-color: #659bdb;
  border-color: #000;
  text-decoration: none;
}

.SvFhowzppnxBhDV {
  padding-top: 50px;
}

.DHCTMMaNCnEaeut {
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.raDvgCQNWqLfoTG {
  min-height: 224px;
  text-decoration: none;
}

.MxzHllhUxkefPFq {
  max-height: 224px;
  min-height: 224px;
  justify-content: space-between;
  padding: 40px 40px 0;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.MxzHllhUxkefPFq.HkHAaQTDgRFjEcu {
  background-color: #659bdb;
}

.MxzHllhUxkefPFq.wfmnArilXidKLGN {
  background-color: #fbeec1;
}

.MxzHllhUxkefPFq.zqpZVaEIjwvtefU {
  background-color: #f4f2f3;
}

.BzlbiDGFYDSBsmB {
  width: 100%;
  max-width: 188px;
  flex: 1;
  align-self: flex-end;
  margin-top: 8px;
  overflow: hidden;
}

.kEgtkQttoPqGyzs {
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 150%;
}

.dVMsiPKDYvUwvBP {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.raEghzufWRuokNI {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.wbbFXcYCBjZsHKj {
  width: 100%;
  margin-left: auto;
  display: block;
  height: 224px;
  object-fit: cover;
}

.ltIOoqbdoOyjNaq {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

.oCyGigRJGfSvTvE {
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.dEPhDndHljhqqRe {
  width: 100%;
  text-decoration: none;
}

.vNKMOvHVQNgwfXY {
  background-color: #f4f2f3;
  margin-bottom: 14px;
  overflow: hidden;
}

.vNKMOvHVQNgwfXY.YykRnolXXJvfzRH {
  height: 100%;
  min-height: 370px;
  background-color: #f4f2f3;
  margin-bottom: 10px;
}

.vNKMOvHVQNgwfXY.zZDuGnRmItYDbIS {
  height: 100%;
  min-height: 350px;
}

.vNKMOvHVQNgwfXY.zZDuGnRmItYDbIS.BWomCjpaqcrwWBC {
  margin-bottom: 10px;
}

.vNKMOvHVQNgwfXY.kIOwiHjBVKuOdFw {
  margin-bottom: 8px;
}

.exEWQGpalpHQZCf {
  grid-column-gap: 20px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.exEWQGpalpHQZCf.zAiJMEOSLBqmOOW {
  grid-row-gap: 2px;
  flex-direction: column;
}

.OcGSoNqWxBobAJZ {
  color: #fff;
  white-space: normal;
  flex: none;
}

.RGnLimXBUOHADXO {
  width: 100%;
  height: 100%;
  min-height: 350px;
  object-fit: cover;
}

.RGnLimXBUOHADXO.zAiJMEOSLBqmOOW {
  min-height: 370px;
  object-fit: cover;
}

.pvBTjjxXrVgfayg {
  padding-top: 50px;
  padding-bottom: 100px;
}

.hnyFTKApqazxRTh {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.qPwQmNkslLfMkSM {
  grid-column-gap: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.AaBCmOSPrpaDJMM {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.ArKlEYYCODWqNvq {
  margin-top: 2px;
  font-size: 12px;
  line-height: 150%;
}

.xSaZkDCXnXudWkr {
  margin-bottom: 40px;
}

.xSaZkDCXnXudWkr.nbFnNMozrSBGMux {
  margin-bottom: 50px;
}

.ShSEbQMPtFSjOVz {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
}

.ShSEbQMPtFSjOVz.cvuuUOiVEltSjzE {
  border-left: 1px solid #000;
  margin-bottom: 5px;
  padding-left: 11px;
}

.APQdcINxvsxlyij {
  width: 100%;
  height: 1px;
  max-width: 120px;
  background-color: #000;
  margin-top: 5px;
}

.frXkvhmPBPImGJJ {
  background-color: #fbeec1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.yGPHFVgADLnKaOr {
  grid-column-gap: 52px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.xxKlQvjZpIOgdRn {
  width: 100%;
  max-width: 638px;
}

.LtWeuVJIhmbQNtJ {
  width: 100%;
  object-fit: cover;
}

.bdVTSIkYRiccSxo {
  margin-bottom: 10px;
}

.bdVTSIkYRiccSxo1 {
  color: #659bdb;
}

.otjtHomcQxUXrnt {
  margin-bottom: 50px;
}

.RtnoxnsrRaEttIK {
  grid-row-gap: 150px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.HIGtUjENnQaIYhY {
  grid-column-gap: 30px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fIADdLyHOSqbEft {
  width: 100%;
  text-decoration: none;
}

.JlxXyNFGnpZQTNf {
  background-color: #f4f2f3;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.JlxXyNFGnpZQTNf.YykRnolXXJvfzRH {
  width: 100%;
  height: 100%;
  min-height: 450px;
}

.HwGRKdELjVRLWAe {
  width: 100%;
  height: 100%;
  max-height: 450px;
  min-height: 450px;
  object-fit: cover;
}

.vBMVarQdCaGsWtU {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 150%;
}

.SONrXddmUuoQuEx {
  grid-column-gap: 8px;
  color: #000;
  flex: none;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  display: flex;
}

.SONrXddmUuoQuEx.HfRozyxghAKkLpg {
  grid-column-gap: 6px;
  transition: 0.3s ease;
}

.SONrXddmUuoQuEx.HfRozyxghAKkLpg:hover {
  color: #fff;
}

.AnhDnrIJQlYmQJU {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.OtamGoZEQiLrxaz {
  margin-bottom: 35px;
}

.HjTAYSQdrAIMCBB {
  justify-content: space-between;
  display: flex;
}

.HOzXhyOnuvDgIMe {
  width: 100%;
  max-width: 140px;
  min-height: 46px;
}

.YEOTmFXzlOTkMyf {
  color: #000;
  padding: 10px 5px;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  transition: font-variation-settings 0.3s;
  position: static;
}

.YEOTmFXzlOTkMyf:hover {
  text-decoration: none;
}

.hVnHZKBAdgAKxMo {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  padding: 5px;
  font-size: 14px;
}

.aVzIUdcRcWfUueD {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  padding: 5px;
  font-size: 14px;
}

.sKccnAGBfQRdXsu {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 22px 0;
  display: grid;
}

.oujwHSGBkhNrkMF {
  margin-bottom: 12px;
  text-decoration: none;
}

.vihJEgkUsSyJFuI {
  width: 100%;
  min-height: 280px;
  background-color: #f4f2f3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.qWyqEdemzrYgDUN {
  color: #000;
  padding: 10px 5px;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  position: relative;
}

.vekrvGnthdVPrFG {
  background-color: #fff;
  top: 54px;
  bottom: auto;
  left: auto;
  right: 0%;
}

.btyXKMGmGtcwbHL {
  z-index: 999;
  background-color: #fff;
  padding: 12px 30px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.hHyEbUqaNFXBIUC {
  align-items: center;
  display: flex;
}

.TajjwqaIECNlKrl {
  width: 100%;
  background-color: #fff;
  align-items: center;
  margin-bottom: 0;
  padding-left: 10px;
  display: flex;
}

.dJJmNElaVYyyUmG {
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding: 0;
}

.dJJmNElaVYyyUmG:focus {
  border: 1px rgba(0, 0, 0, 0);
  border-bottom-style: solid;
}

.dJJmNElaVYyyUmG::-ms-input-placeholder {
  color: #000;
}

.dJJmNElaVYyyUmG::placeholder {
  color: #000;
}

.fAEMNbrTQKlMWDQ {
  display: none;
}

.mxDrmmJWodwQYBy {
  text-align: center;
  grid-column-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.vRTcLllejVMGVGY {
  color: #fff;
  margin-bottom: 5px;
  font-weight: 400;
}

.FgObrEDwDMPVxJZ {
  font-weight: 500;
  line-height: 150%;
}

.qvmIzKATLMCMIBV {
  margin-bottom: 50px;
}

.naLnrldOHlcBuPp {
  width: 100%;
  max-width: 706px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.aGzKogmiKgXqHwA {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sGhFgKMsCejLAfy {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.WxMvPYFOeCWlQAG {
  width: 100%;
  max-width: 267px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  margin-right: 0;
  font-size: 14px;
}

.xzAVQDryAwZGeoa {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  display: flex;
}

.tesTbUKlesGIVNl {
  background-color: #fff;
  overflow: hidden;
}

.jvpVvDYLJRgtMhY {
  color: #000;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.jvpVvDYLJRgtMhY:hover {
  background-color: #e6e6e6;
}

.jvpVvDYLJRgtMhY.HPHYaQzwAwtTvaU {
  color: #000;
  background-color: #e6e6e6;
}

.KoCupXNmCditJiX {
  text-align: center;
  margin-top: 80px;
}

.veZUVQPiyRwRHFx {
  padding-top: 50px;
}

.kATeTHnFBXsbsKc {
  max-height: 550px;
  min-height: 550px;
  grid-column-gap: 4px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.uzOweoBkBenvjhr {
  width: 100%;
  height: 100%;
  max-width: 618px;
  min-height: 550px;
  object-fit: cover;
  background-color: #f4f2f3;
}

.frLFBxKCdSyPAiM {
  padding-top: 50px;
  padding-bottom: 50px;
}

.FpvQaMWbKWmuzDM {
  justify-content: space-between;
  display: flex;
}

.pwsNlXDwGXKPnjO {
  width: 100%;
  max-width: 628px;
}

.eFTOHqcfQtDXfBW {
  border-bottom: 1px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
}

.eFTOHqcfQtDXfBW.nOAGwLRPnIUzXql {
  padding-top: 0;
}

.iCePJevrsypEULG {
  margin-bottom: 10px;
}

.LPZEpBMhjGPWCna {
  background-color: #fbeec1;
  padding-top: 120px;
  padding-bottom: 120px;
}

.eMVKISpcFfWvjEB {
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.oaBUReZswcCyklX {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.vaiKnolnHJwEYts {
  margin-bottom: 8px;
  color: #000;
}

.lvRYwzbzIiRszkA {
  padding-top: 50px;
  padding-bottom: 50px;
}

.FSyEuJRJRJkkKoF {
  grid-column-gap: 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.lHcEwDTQrYfbJUs {
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-height: 480px;
  background-color: #f4f2f3;
}

.lHcEwDTQrYfbJUs img {
  object-fit: cover;
  height: 480px;
}

.JRtTuRURCnqywRQ {
  width: 100%;
  max-width: 816px;
}

.UhSUKsUeBGycfkJ {
  max-height: 480px;
  min-height: 480px;
  object-fit: cover;
  overflow: hidden;
}

.yiCMmwsFvMsxBck {
  color: #333;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.XlZPqOdxWggWXZn {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.UymuUNtNqKRYHJN,
.WAHNqSSHEgdzrNy {
  height: auto;
}

.gGwyFOrMxNagCSX {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 25px;
  transition: filter 0.3s;
  display: flex;
  right: 0;
}

.gGwyFOrMxNagCSX:hover {
  filter: invert();
}

.gptkPftWjmjANXk {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 25px;
  transition: filter 0.3s;
  display: flex;
  right: 65px;
}

.gptkPftWjmjANXk:hover {
  filter: invert();
}

.WbiFtInsfANGorT {
  padding-top: 50px;
  padding-bottom: 50px;
}

.JxezOjgbkRDNkmT {
  grid-column-gap: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.evxZfMDKVZPTBMM {
  width: 100%;
  max-width: 618px;
}

.evxZfMDKVZPTBMM.rtiQjbbYEaYHumH {
  height: 100%;
  max-height: 657px;
  min-height: 657px;
  background-color: #f4f2f3;
}

.JazARWtyzFDWRgu {
  width: 100%;
  max-width: 618px;
}

.rCcgIRkrYCgbivA {
  width: 100%;
  border-bottom: 1px solid #000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rCcgIRkrYCgbivA.nOAGwLRPnIUzXql {
  padding-top: 0;
}

.YfIadVNHEymzQQv {
  justify-content: space-between;
  padding: 0;
  display: flex;
}

.vgbYOiNGoSVhrBE {
  background-color: rgba(0, 0, 0, 0);
  display: block;
  position: relative;
  overflow: hidden;
}

.iZYULVbzkJyjiEK {
  padding-top: 20px;
}

.abumyBlBkYyyiAK {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.asMhKEXwToypgIQ {
  width: 1px;
  height: 16px;
  background-color: #fff;
  border-radius: 30px;
}

.HeDoPFtNJQUaJPi {
  width: 16px;
  height: 1px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
}

.pfDPGeYmOWYLunU {
  padding-top: 50px;
  padding-bottom: 50px;
}

.JjuhKLAjEwhzbSt {
  color: #fff;
  flex: none;
}

.DplAQRreNobOCfR {
  color: #000;
  font-weight: 500;
  line-height: 150%;
}

.BXNDIvfgvRZqVyR {
  min-height: 280px;
  object-fit: fill;
}

.jzDSObGlaeIAkxt {
  margin-bottom: 2px;
}

.iEtlXkVVMeLqbbU {
  white-space: normal;
}

.RnxqbACUsaBNuUG {
  text-align: right;
  margin-top: 60px;
}

.uSQIfqLEDQpFmyq {
  height: 100%;
  min-height: 370px;
  object-fit: cover;
}

.NxupWtpsblqKIAq {
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.IyJiuXTcxWpLEls {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
}

.IyJiuXTcxWpLEls p:first-child {
  margin-bottom: 15px;
}

.kuJggEsPhptAFCL {
  line-height: 150%;
  text-decoration: line-through;
}

.jepBUVytgBhyUqo {
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 20px;
}

.XTCtFrgvjBbZICR {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.lvDslafHwgaakzA {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dVaABtutRkLoviG {
  height: 100%;
  min-height: 657px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 32px;
  }

  blockquote {
    font-size: 18px;
  }

  .wxMfzbIaIoEsiQx {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pMLdXyTnpvZAZar {
    align-items: center;
    display: flex;
  }

  .pMLdXyTnpvZAZar.HPHYaQzwAwtTvaU {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .rHvWlEpvDlNKjen {
    padding-right: 0;
    position: absolute;
  }

  .PLPViMZwsrXbwZx {
    width: 100%;
    text-align: left;
    margin-left: 0;
    padding: 12px 20px;
  }

  .PLPViMZwsrXbwZx:hover {
    background-color: #cbe8f0;
  }

  .lobgiipLtLlyPOi {
    grid-column-gap: 5px;
    border-left-style: none;
    padding-left: 0;
    display: flex;
  }

  .kdXkGdrZwGkbsYO {
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
  }

  .pUOFRHviHsjndci {
    z-index: 5;
    position: relative;
  }

  .iZmMmQOtxPBUSvl {
    margin-left: 0;
    margin-right: auto;
  }

  .XopInxFQSvCeLOj {
    order: -1;
    margin-left: 0;
    margin-right: 20px;
    padding: 0;
    position: relative;
  }

  .bEiGxoKaRIhGsgx:hover {
    background-color: #fff;
  }

  .tkNfAKmreDVhaJF {
    max-width: 100%;
    border-style: none;
    margin-left: 0%;
    padding: 0;
  }

  .gWYvnCUicoexzHN {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .YdQargRJziiLYVC {
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    grid-template-columns: 1.2fr 1fr 1fr;
  }

  .bEJfXfBUnhlooAY {
    height: auto;
    max-height: none;
    min-height: auto;
  }

  .tGcrngpDKqzPneO {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .zrXYjHIaovWWJiD {
    max-width: 70%;
  }

  .SvFhowzppnxBhDV {
    padding-top: 50px;
  }

  .DHCTMMaNCnEaeut {
    grid-column-gap: 15px;
  }

  .MxzHllhUxkefPFq {
    max-height: 224px;
    min-height: 224px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ltIOoqbdoOyjNaq {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .oCyGigRJGfSvTvE {
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .vNKMOvHVQNgwfXY,
  .vNKMOvHVQNgwfXY.YykRnolXXJvfzRH,
  .vNKMOvHVQNgwfXY.zZDuGnRmItYDbIS {
    min-height: auto;
  }

  .RGnLimXBUOHADXO,
  .RGnLimXBUOHADXO.zAiJMEOSLBqmOOW {
    min-height: auto;
  }

  .pvBTjjxXrVgfayg {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .hnyFTKApqazxRTh {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }

  .frXkvhmPBPImGJJ {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .yGPHFVgADLnKaOr {
    grid-column-gap: 50px;
  }

  .LtWeuVJIhmbQNtJ {
    max-width: 100%;
    min-height: auto;
    object-fit: contain;
  }

  .RtnoxnsrRaEttIK {
    grid-row-gap: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .JlxXyNFGnpZQTNf.YykRnolXXJvfzRH {
    min-height: auto;
  }

  .HwGRKdELjVRLWAe {
    min-height: auto;
    min-width: auto;
  }

  .HjTAYSQdrAIMCBB {
    grid-column-gap: 124px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
  }

  .YEOTmFXzlOTkMyf {
    width: 100%;
    text-align: left;
    background-color: #cbe8f0;
    margin-left: 0;
    padding: 12px 20px;
  }

  .sKccnAGBfQRdXsu {
    max-width: 100%;
    grid-row-gap: 5px;
    flex-direction: column;
    grid-template-columns: 1fr;
    padding: 0;
    display: flex;
  }

  .oujwHSGBkhNrkMF:hover {
    font-weight: 500;
  }

  .vihJEgkUsSyJFuI {
    display: none;
  }

  .qWyqEdemzrYgDUN {
    width: 100%;
    text-align: left;
    margin-left: 0;
    padding: 12px 20px;
  }

  .qWyqEdemzrYgDUN:hover {
    background-color: #cbe8f0;
  }

  .btyXKMGmGtcwbHL {
    padding: 10px 20px;
  }

  .naLnrldOHlcBuPp {
    margin-top: 10px;
    font-size: 14px;
  }

  .aGzKogmiKgXqHwA {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sGhFgKMsCejLAfy {
    margin-bottom: 30px;
  }

  .xzAVQDryAwZGeoa {
    font-size: 14px;
    line-height: 150%;
  }

  .veZUVQPiyRwRHFx {
    padding-top: 50px;
  }

  .kATeTHnFBXsbsKc {
    max-height: none;
    min-height: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .uzOweoBkBenvjhr {
    min-height: auto;
  }

  .uzOweoBkBenvjhr.RBcSOLtaWIAWZJL {
    display: none;
  }

  .frLFBxKCdSyPAiM {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .FpvQaMWbKWmuzDM {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-direction: column;
  }

  .pwsNlXDwGXKPnjO {
    max-width: 100%;
  }

  .LPZEpBMhjGPWCna {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .eMVKISpcFfWvjEB {
    grid-template-columns: 1fr 1fr;
  }

  .FSLhvOSFFhpvgyn {
    min-height: auto;
  }

  .lvRYwzbzIiRszkA {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .FSyEuJRJRJkkKoF {
    grid-column-gap: 30px;
  }

  .lHcEwDTQrYfbJUs {
    max-width: 250px;
    min-height: auto;
  }

  .UhSUKsUeBGycfkJ {
    min-height: auto;
  }

  .yiCMmwsFvMsxBck {
    font-size: 16px;
  }

  .gGwyFOrMxNagCSX {
    width: 45px;
    height: 45px;
  }

  .gptkPftWjmjANXk {
    width: 45px;
    height: 45px;
    right: 50px;
  }

  .WbiFtInsfANGorT {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .JxezOjgbkRDNkmT {
    flex-direction: column;
  }

  .evxZfMDKVZPTBMM {
    max-width: 100%;
  }

  .evxZfMDKVZPTBMM.rtiQjbbYEaYHumH {
    min-height: auto;
    display: none;
  }

  .JazARWtyzFDWRgu {
    max-width: 100%;
  }

  .YfIadVNHEymzQQv {
    white-space: normal;
  }

  .iZYULVbzkJyjiEK {
    padding-top: 10px;
  }

  .pfDPGeYmOWYLunU {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .kXDpQxbyvQFCGPQ {
    font-size: 14px;
    line-height: 150%;
  }

  .txtUNhJhkvbNbbS {
    margin-bottom: 40px;
  }

  .uSQIfqLEDQpFmyq {
    min-height: auto;
  }

  .NxupWtpsblqKIAq {
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  h2,
  h3 {
    font-size: 30px;
  }

  .qvrCxxuMroegAOs {
    overflow: hidden;
  }

  .pMLdXyTnpvZAZar {
    padding-left: 0;
  }

  .pMLdXyTnpvZAZar.HPHYaQzwAwtTvaU {
    max-width: 104px;
  }

  .pUOFRHviHsjndci {
    flex: none;
  }

  .XopInxFQSvCeLOj {
    position: relative;
  }

  .gWYvnCUicoexzHN {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .MFlxPRIHaKorDVD {
    padding: 10px 30px;
    font-size: 12px;
  }

  .yydiXGYsDFkuPfT {
    grid-row-gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .YdQargRJziiLYVC {
    grid-row-gap: 60px;
    margin-bottom: 80px;
  }

  .rClZdOkhYeYfiLr,
  .ZagjClPpGuXYXEF {
    margin-bottom: 0;
  }

  .nKJbhuxdeVylkmS {
    margin-bottom: 40px;
  }

  .beIWsTBPrMoxSnQ {
    margin-bottom: 10px;
  }

  .tgCTvOCwSuRRjft {
    grid-row-gap: 12px;
  }

  .YdmrVVJepySsYSm {
    grid-row-gap: 25px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .viEBTmzdjqcHSlw {
    width: 100%;
    text-align: center;
  }

  .ievyQxbuaFcknof {
    justify-content: center;
  }

  .ZCyiOpnsUTrjzrJ {
    font-size: 12px;
  }

  .bEJfXfBUnhlooAY {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(img/furn1.jpeg);
    background-position: 0 0, 50%;
    background-size: auto, cover;
  }

  .tGcrngpDKqzPneO {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .zrXYjHIaovWWJiD {
    max-width: 100%;
  }

  .fPTwpCRHDjRvuDi {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .AEyNMvJCOqnpJmy {
    max-width: none;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .zXKLnGwoQMcUxgr {
    padding-left: 26px;
    padding-right: 26px;
    font-size: 12px;
  }

  .SvFhowzppnxBhDV {
    padding-top: 24px;
  }

  .DHCTMMaNCnEaeut {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .MxzHllhUxkefPFq {
    padding-top: 30px;
  }

  .oCyGigRJGfSvTvE {
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .dEPhDndHljhqqRe {
    width: 100%;
  }

  .vNKMOvHVQNgwfXY {
    margin-bottom: 10px;
  }

  .exEWQGpalpHQZCf {
    grid-row-gap: 0px;
    flex-direction: column;
  }

  .hnyFTKApqazxRTh {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }

  .qPwQmNkslLfMkSM {
    grid-column-gap: 8px;
  }

  .AaBCmOSPrpaDJMM {
    width: 40px;
    height: 40px;
  }

  .xSaZkDCXnXudWkr {
    margin-bottom: 30px;
  }

  .yGPHFVgADLnKaOr {
    grid-row-gap: 30px;
    flex-direction: column-reverse;
  }

  .xxKlQvjZpIOgdRn,
  .LtWeuVJIhmbQNtJ {
    max-width: 100%;
  }

  .bdVTSIkYRiccSxo {
    margin-bottom: 20px;
  }

  .otjtHomcQxUXrnt {
    margin-bottom: 40px;
  }

  .HIGtUjENnQaIYhY {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .JlxXyNFGnpZQTNf {
    margin-bottom: 10px;
  }

  .vBMVarQdCaGsWtU {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .OtamGoZEQiLrxaz {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .HjTAYSQdrAIMCBB {
    grid-column-gap: 20px;
  }

  .vRTcLllejVMGVGY {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
  }

  .FgObrEDwDMPVxJZ {
    font-size: 14px;
    line-height: 150%;
  }

  .qvmIzKATLMCMIBV {
    margin-bottom: 30px;
  }

  .WxMvPYFOeCWlQAG {
    width: 50%;
  }

  .KoCupXNmCditJiX {
    margin-top: 60px;
  }

  .kATeTHnFBXsbsKc {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .uzOweoBkBenvjhr {
    order: -1;
  }

  .FpvQaMWbKWmuzDM {
    grid-row-gap: 30px;
    flex-direction: column;
  }

  .eFTOHqcfQtDXfBW {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .iCePJevrsypEULG {
    font-size: 20px;
  }

  .oaBUReZswcCyklX {
    padding: 10px;
  }

  .vaiKnolnHJwEYts {
    margin-bottom: 0;
    font-size: 14px;
  }

  .FSyEuJRJRJkkKoF {
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .lHcEwDTQrYfbJUs {
    max-width: 100%;
  }

  .JRtTuRURCnqywRQ {
    text-align: center;
  }

  .UhSUKsUeBGycfkJ {
    max-height: none;
  }

  .XlZPqOdxWggWXZn {
    justify-content: center;
    /* padding-bottom: 85px; */
    display: flex;
  }

  .gGwyFOrMxNagCSX {
    width: 45px;
    height: 45px;
    margin-left: 55px;
    right: auto;
  }

  .gptkPftWjmjANXk {
    margin-right: 55px;
    left: auto;
    right: auto;
  }

  .rCcgIRkrYCgbivA {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .JjuhKLAjEwhzbSt {
    font-size: 14px;
    line-height: 150%;
  }

  .DplAQRreNobOCfR {
    font-size: 14px;
  }

  .jzDSObGlaeIAkxt {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .txtUNhJhkvbNbbS {
    margin-bottom: 30px;
  }

  .VsDXEleAvSnAfDO {
    font-size: 16px;
  }

  .iEtlXkVVMeLqbbU {
    font-size: 14px;
  }

  .CjjRXKfJKJWToBj {
    font-size: 34px;
  }

  .RnxqbACUsaBNuUG {
    margin-top: 40px;
  }

  .NxupWtpsblqKIAq {
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  /* .IyJiuXTcxWpLEls {
    justify-content: flex-start;
  } */

  .kuJggEsPhptAFCL {
    font-size: 14px;
    line-height: 150%;
  }

  .jepBUVytgBhyUqo {
    padding-top: 50px;
  }
}

@media screen and (max-width: 479px) {
  .oCyGigRJGfSvTvE {
    grid-template-columns: 1fr;
  }
  .qvrCxxuMroegAOs {
    overflow: hidden;
  }

  .pMLdXyTnpvZAZar {
    max-width: 104px;
  }

  .iZmMmQOtxPBUSvl {
    flex: none;
  }

  .gWYvnCUicoexzHN.JitBGtPcAFFEsOX {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .yydiXGYsDFkuPfT {
    grid-row-gap: 30px;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .YdQargRJziiLYVC {
    grid-template-columns: 1.2fr;
    margin-bottom: 80px;
  }

  .rClZdOkhYeYfiLr {
    overflow: hidden;
  }

  .ElffyEyBvppFEYN {
    padding-bottom: 10px;
  }

  .ZagjClPpGuXYXEF {
    font-weight: 500;
  }

  .XIwUerlOgnvyYuj {
    margin-top: 10px;
  }

  .ievyQxbuaFcknof {
    grid-row-gap: 20px;
    flex-wrap: wrap;
  }

  .jTgiQEVJbbKrVHD {
    width: 3px;
    height: 3px;
  }

  .raDvgCQNWqLfoTG {
    min-height: auto;
  }

  .MxzHllhUxkefPFq {
    max-height: 150px;
    min-height: 150px;
    grid-column-gap: 20px;
  }

  .BzlbiDGFYDSBsmB.zAiJMEOSLBqmOOW {
    max-width: 100px;
  }

  .kEgtkQttoPqGyzs {
    margin-bottom: 0;
  }

  .kEgtkQttoPqGyzs.BWomCjpaqcrwWBC {
    margin-bottom: 10px;
  }

  .raEghzufWRuokNI {
    width: 85px;
    margin-top: 4px;
  }

  .vNKMOvHVQNgwfXY.YykRnolXXJvfzRH {
    max-height: 176px;
  }

  .RGnLimXBUOHADXO {
    width: 100%;
  }

  .RGnLimXBUOHADXO.zAiJMEOSLBqmOOW {
    max-height: 176px;
  }

  .yGPHFVgADLnKaOr {
    grid-row-gap: 35px;
  }

  .RtnoxnsrRaEttIK.zAiJMEOSLBqmOOW {
    padding-top: 80px;
  }

  .HwGRKdELjVRLWAe {
    min-height: 250px;
  }

  .HjTAYSQdrAIMCBB {
    grid-row-gap: 30px;
  }

  .HOzXhyOnuvDgIMe {
    max-height: 28px;
    max-width: 98px;
    min-height: 28px;
  }

  .eMVKISpcFfWvjEB {
    grid-row-gap: 20px;
  }

  .CjjRXKfJKJWToBj.zAiJMEOSLBqmOOW {
    font-size: 30px;
  }

  .uSQIfqLEDQpFmyq {
    width: 100%;
    max-height: 176px;
    object-fit: cover;
  }

  .atcLPzWOITuwLfz {
    width: 148px;
    height: 24px;
  }

  .IyJiuXTcxWpLEls {
    align-items: baseline;
    display: flex;
  }
}

.color-black {
  color: #000;
}

.color-white {
  color: #fff;
  padding: 10px;
}

.main-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 50px;
  gap: 40px;
}

.main-contacts__title {
  font-size: 48px;
  text-align: center;
  color: #659bdb;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-contacts-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  border-radius: 10px;
  word-break: break-all;
  text-align: center;
}

.main-contacts-info__tel {
  font-size: 18px;
  max-width: fit-content;
  display: inline-block;
  margin-bottom: 12px;
  transition: 0.3s ease;
  border-bottom: 1px solid transparent;
  font-weight: 600;
  color: #659bdb;
}

.main-contacts-info__tel:hover {
  transform: scale(1.05);
  color: #8d8741;
}

.main-contacts-info__email {
  font-size: 18px;
  overflow-wrap: break-word;
  display: inline-block;
  font-weight: 600;
  color: #659bdb;
  margin-bottom: 12px;
  transition: 0.3s ease;
  border-bottom: 1px solid transparent;
}

.main-contacts-info__email:hover {
  transform: scale(1.05);
  color: #8d8741;
}

.main-contacts-info__adress {
  font-size: 18px;
  max-width: fit-content;
  display: inline-block;
  font-weight: 600;
  color: #659bdb;
  margin-bottom: 12px;
  transition: 0.3s ease;
  border-bottom: 1px solid transparent;
}

.main-contacts-info__adress:hover {
  transform: scale(1.05);
  color: #8d8741;
}

.main-contacts-info__work {
  margin-bottom: 8px;
  color: #fff;
}

.form {
  margin: 100px;
  flex: 0 0 65%;
  @media (max-width: 768px) {
    margin: 0;
  }
}

.form-content {
  /* padding: 50px;
  background: #000; */
  border-radius: 10px;

  padding: 20px;
  text-align: center;
  @media (max-width: 768px) {
    padding: 35px;
  }
  @media (max-width: 450px) {
    padding: 20px;
  }
}

.form-content__title {
  font-size: 48px;
  text-align: center;
  color: #000;
  font-weight: 700;
  margin-bottom: 40px;
  @media (max-width: 750px) {
    font-size: 42px;
  }
  @media (max-width: 550px) {
    font-size: 36px;
  }
  @media (max-width: 420px) {
    font-size: 32px;
  }
}

.form-content-wrapper {
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.form-content-wrapper__input {
  display: block;
  max-width: 50%;
  flex: 1 0 auto;
  outline: none;
  height: 40px;
  /* border-radius: 10px; */
  border: solid transparent;
  border-bottom: 1px solid #000;
  padding: 0px 20px 0px 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  @media (max-width: 650px) {
    max-width: 100%;
  }
}

.form-content-wrapper__input::placeholder {
  font-size: 18px;
  color: #000;
}

.form-content-message {
  outline: none;
  width: 100%;
  /* border-radius: 10px; */
  border: solid transparent;
  border-bottom: 1px solid #000;
  background: transparent;
  padding: 10px 20px 0px 10px;
  height: 40px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  resize: none;
}

.form-content-message::placeholder {
  line-height: 100%;
  font-size: 18px;
  color: #000;
}

.form-content-btn {
  cursor: pointer;
  max-width: 220px;
  width: 100%;
}

.form-content-checkbox {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  color: #000;
  margin-bottom: 20px;
}

.form-content-checkbox a {
  color: #000;
  border-bottom: 1px solid #000;
}

p {
  margin-top: 0;
  /* margin-bottom: 20px; */
}

ul,
ol,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: #fff;
  text-transform: none;
  line-height: 1.2;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 48px;
  @media (max-width: 768px) {
    font-size: 40px;
  }
  @media (max-width: 550px) {
    font-size: 30px;
  }
}

h2,
.h2 {
  color: #000;
  font-size: 36px;
}

h3,
.h3 {
  margin: 0;
  font-size: 35px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #8d8741;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

#main {
  flex: 1 0 auto;
  -webkit-box-flex: 1;
}

#footer {
  flex: 0 0 auto;
  -webkit-box-flex: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999999;
  box-shadow: 0px 0px 5px #000;
  background: #fbeec1;
  width: 100%;
}

.header__wrapper {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: 600;
  font-size: 30px;
  color: #659bdb;
  position: relative;
  z-index: 999;
  transition: 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
  color: #8d8741;
}

.header-menu .header-menu--footer {
  display: flex !important;
  position: static;
  transform: translateX(0%);
  opacity: 1;
  background-color: transparent;
}

.header-menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}

.header-menu__item-link {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #659bdb;
  text-transform: uppercase;
  transition: 0.3s ease;
  font-weight: 600;
}

.header-menu__item-link:hover {
  transform: scale(1.1);
  color: #8d8741;
}

.header-toggler {
  display: none;
}

@media (max-width: 1024px) {
  .header-toggler {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 99;
  }
  .header-toggler__icon {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .header-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background-color: #fbeec1;
    transition: 0.3s ease-in-out;
  }

  .header-menu--open {
    opacity: 1;
    transform: translateX(0);
  }
  .header-menu ul {
    flex-direction: column;
  }
  .header-toggler__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #659bdb;
  }
  .header-toggler__line-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .header-toggler__line-bottom {
    bottom: 0;
  }
  .header-toggler--open {
    .header-toggler__line {
      background-color: #659bdb;
    }
    .header-toggler__line-top {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .header-toggler__line-bottom {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .header-toggler__line-middle {
      display: none;
    }
  }
}

.unscroll {
  overflow: hidden;
}

.main-privacy {
  padding: 100px 0px;
}

.main-privacy__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}

.main-privacy h1,
h2 {
  letter-spacing: normal;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.main-privacy__h2 {
  letter-spacing: normal;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.main-privacy ul li {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: none;
}

.main-privacy ul li a {
  color: #000;
  transition: 0.3s ease;
  font-size: 28px;
  word-break: break-all;
  font-weight: 600;
  text-transform: capitalize;
}

.main-privacy ul li a:hover {
  border-bottom: 1px solid #000;
}

.main-terms {
  padding: 100px 0px;
}

.main-terms__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}

.main-terms h1,
h2 {
  letter-spacing: normal;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.main-terms__h2 {
  letter-spacing: normal;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.main-terms a {
  color: #000;
  font-size: 28px;
  word-break: break-all;
  font-weight: 600;
  text-transform: capitalize;
}

.main-terms a:hover {
  border-bottom: 1px solid #000;
}

.main-terms ul li {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: none;
}

/* UI-btn */
.ui-btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 20px 30px;
  color: #000;
  background-color: transparent;
  font-size: 22px;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 2px solid #000;
}

.ui-btn:hover {
  background-color: #659bdb;
  color: #fff;
  border: 2px solid #fff;
}

.tabs__button {
  @media (max-width: 425px) {
    font-size: 20px;
  }
}

/* .ui-btn::after {
  transition: 0.5s ease;
} */

/* .ui-btn:hover::after {
    left: 0;
    transform: translateY(-20px);
    border-radius: 4px;
    position: absolute;
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #000;
} */

.form-content-wrapper {
  @media (max-width: 750px) {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

.footer {
  box-shadow: 0px 0px 5px #fff;
  background: #fbeec1;
  padding: 20px 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer-content-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
.header-menu__footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-content-rules {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* margin-bottom: 25px; */
}
.footer-content-rules .header-menu__item {
  @media (max-width: 420px) {
    text-align: center;
  }
}

.footer-end {
  text-align: center;
  color: #8f8f8f;
}

.QCmZsRNMKcemReZ img {
  width: 15px;
  height: 15px;
}

.bZhqfZQUeOcTOXH {
  margin-bottom: 40px;
}

.main-wrapper {
  word-wrap: break-word;
  padding-top: 200px;
  padding-bottom: 100px;
  @media (max-width: 788px) {
    padding: 50px 0px;
  }
}

.main-wrapper h1,
h2 {
  color: #000;
}

.main-wrapper__title {
  color: #000;
}

.main-wrapper a {
  color: #000;
  margin-bottom: 40px;
}

.DCHdqPuGyZdlcOW:hover {
  background-color: #ce52ff;
  border: 1px solid #ce52ff;
}

.CjjRXKfJKJWToBj1 {
  color: #659bdb;
}
