html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
  }
  
  body {
    margin: 0;
  }
  
   menu, nav {
    display: block;
  }
  
   video {
    vertical-align: baseline;
    display: inline-block;
  }
  
  a {
    background-color: rgba(0, 0, 0, 0);
  }
  
  a:active, a:hover {
    outline: 0;
  }
  
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  
  img {
    border: 0;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }
  
  .zMeCAeukbcSsZpU {
    max-width: 100%;
    display: inline-block;
  }
  
  h1, h2, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
  }
  
  h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
  }
  
  h5 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  
  h6 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  
  .hUMnWOGUuLGvHsL {
    padding-left: 0;
    list-style: none;
  }
  
  .mUQAmCSPkDVUbSz {
    color: #fff;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .mUQAmCSPkDVUbSz > video {
    object-fit: cover;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
  }
  
  .mUQAmCSPkDVUbSz > video::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
    display: none !important;
  }
  
  .zntxHBMkgQSvQkY {
    text-align: center;
    clear: both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    background: #ddd;
    height: 300px;
    position: relative;
  }
  
  .uwnSxcHsVhKuIGn {
    z-index: 1;
    white-space: nowrap;
    height: 100%;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  .XyvdbVzLaUZlCHl {
    vertical-align: top;
    white-space: normal;
    text-align: left;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
  }
  
  .DPOGmbpbIQRxOSr {
    z-index: 2;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    height: 40px;
    margin: auto;
    padding-top: 10px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .DPOGmbpbIQRxOSr.TIsfNgsEdcJkzSZ > div {
    border-radius: 100%;
  }
  
  .IRqYEMdmnfZiSFK {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .4);
    width: 1em;
    height: 1em;
    margin: 0 3px .5em;
    transition: background-color .1s, color .1s;
    display: inline-block;
    position: relative;
  }
  
  .IRqYEMdmnfZiSFK.eBzxUhwvCxYOBtW {
    background-color: #fff;
  }
  
  .IRqYEMdmnfZiSFK:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff;
  }
  
  .IRqYEMdmnfZiSFK:focus.eBzxUhwvCxYOBtW {
    box-shadow: none;
  }
  
  .ACynnlmIKYYAfOF, .WuDVCfihjeManyP {
    cursor: pointer;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    margin: auto;
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  .ACynnlmIKYYAfOF:focus, .WuDVCfihjeManyP:focus {
    outline: 0;
  }
  
  .ACynnlmIKYYAfOF {
    z-index: 3;
    right: auto;
  }
  
  .WuDVCfihjeManyP {
    z-index: 4;
    left: auto;
  }
  
  .EeKVGZrOfaMkUEF {
    clip: rect(0 0 0 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    .jxPXiqyOaKnpMRy {
      padding-left: 10px;
    }
  }
  
  .poiSVDwEQpGHaHl {
    z-index: 1000;
    background: #ddd;
    position: relative;
  }
  
  .poiSVDwEQpGHaHl:before, .poiSVDwEQpGHaHl:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .poiSVDwEQpGHaHl:after {
    clear: both;
  }
  
  .jxPXiqyOaKnpMRy {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
  }
  
  .YsRnAABbkWyrpWi {
    float: right;
    position: relative;
  }
  
  .TskJdUjxMuNPflL {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  .qAtOfYveXFoLDNR {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
  }
  
  .qAtOfYveXFoLDNR:focus {
    outline: 0;
  }
  
  .poiSVDwEQpGHaHl[data-collapse="all"] .YsRnAABbkWyrpWi {
    display: none;
  }
  
  .poiSVDwEQpGHaHl[data-collapse="all"] .qAtOfYveXFoLDNR {
    display: block;
  }
  
  @media screen and (max-width: 991px) {
    .poiSVDwEQpGHaHl[data-collapse="medium"] .YsRnAABbkWyrpWi {
      display: none;
    }
  
    .poiSVDwEQpGHaHl[data-collapse="medium"] .qAtOfYveXFoLDNR {
      display: block;
    }
  }
  
  @media screen and (max-width: 767px) {
  
    .jxPXiqyOaKnpMRy {
      padding-left: 10px;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  :root {
    --primary-font: Generalsans, sans-serif;
    --black-900: black;
    --white-200: #f0f0f0;
    --white-500: #d0d0d0;
    --white: white;
    --black-700: #a4a4a4;
    --black-800: #2c2c2c;
  }
  
  .NhoprUNmbOsprwS {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  body {
    
    color: var(--black-900);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  
  h1 {
    
    color: var(--black-900);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.375rem;
    font-weight: 600;
    line-height: 4.875rem;
  }
  
  h2 {
    
    color: var(--black-900);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 3.625rem;
  }
  
  h4 {
    
    color: var(--black-900);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 2.125rem;
  }
  
  h5 {
    
    color: var(--black-900);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
  }
  
  h6 {
    
    color: var(--black-900);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
  }
  
  p {
    
    color: var(--black-900);
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  
  .IXKgSYcDVBywaBS {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  
  .iRylKmytdaWkjGt {
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .vXXwBfFYHPBoLol {
    
    color: var(--black-900);
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
  }
  
  .NXvrcrtnTYMlImJ, .rbanFrhscFltjuA {
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.875rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .hNDXlKIsChMYxju {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .fCpgntZIkRiESeM {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .UaEYYYiBTxOkkhQ {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sYmtKgVzBcAjift {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
  }
  
  .ncRZNhCvAFljqlC {
    z-index: 1;
    background-color: var(--white);
    position: relative;
  }
  
  .weOOJNUxWhhTQKo {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
  
  .weOOJNUxWhhTQKo.TtQXCmWDERDxgTq {
    padding-top: 4.6875rem;
  }
  
  .weOOJNUxWhhTQKo.mAMYgXePSJkZnyi {
    padding-top: 7.5rem;
  }
  
  .weOOJNUxWhhTQKo.tvSgSKdTAxmlwdM {
    padding-bottom: 4.375rem;
  }
  
  .XXxJjpTKMOiQmdj {
    height: 260vh;
  }
  
  .NyKFozssSnlAzZZ {
    grid-row-gap: 1.5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .QrXjdFMRnsUNCnr.mAMYgXePSJkZnyi {
    perspective: 1615px;
    perspective-origin: 50% 0;
    display: flex;
    overflow: hidden;
    transform: perspective(1633px);
  }
  
  .fJvPkXgWjdqRVoc {
    overflow: hidden;
  }
  
  .fJvPkXgWjdqRVoc.XRPsFUliNAgPrRk {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .ZKxJMCiqviUmoFn {
    border: 1px solid var(--black-900);
    white-space: nowrap;
    border-radius: 5rem;
    justify-content: flex-start;
    align-items: flex-end;
    padding: .625rem 1.875rem;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .kHfaVsPMfGeIMfW {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .JJQfrWNpQormiNB {
    border-radius: 4.375rem;
  }
  
  .TuTKybPrlbJqqKm {
    width: 100%;
  }
  
  .TuTKybPrlbJqqKm.DLswhuhOARCKiwY {
    padding-bottom: 9.375rem;
  }
  
  .TuTKybPrlbJqqKm.xUVYLXlBAXxFdHs {
    padding-bottom: 6.25rem;
  }
  
  .TuTKybPrlbJqqKm.FGwxwWnhBgkXgrD {
    padding-bottom: 3.125rem;
  }
  
  .TuTKybPrlbJqqKm.GlZvNPJOFLOhzaf {
    padding-bottom: 3.75rem;
  }
  
  .IAgkjeHXdkENbBk {
    grid-column-gap: .5rem;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .bKWtPXmKXCBzZQp {
    
    color: var(--black-900);
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  
  .bKWtPXmKXCBzZQp.ByXbqbkYYjnXQgV {
    color: var(--white-500);
  }
  
  .ixJgUrQffiQgkSc {
    background-color: var(--black-900);
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    position: relative;
  }
  
  .RGTJYuXrBUNLDvF {
    max-width: 62.25rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .ksSnDEXIOZkblEn {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .TCKlWXBaERvMtyR {
    position: absolute;
  }
  
  .WKIfFVKGRQGmsPW {
    max-width: 56.5625rem;
  }
  
  .PcGrbKdsNTWKjkJ {
    
    color: var(--black-900);
    text-transform: uppercase;
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 3.625rem;
  }
  
  .rmNwVZHUgUcZjKp {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .EKwKENzpuQMisnV {
    
    color: var(--black-900);
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000;
    border-radius: 2.5rem;
    height: 40px;
    margin-bottom: 0;
    padding: .75rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }
  
  .EKwKENzpuQMisnV.HNXggPQImPjHwsK {
    border-color: var(--black-700);
    color: var(--black-700);
  }
  
  .lWchXRvlmmRwBcH {
    z-index: 1;
    background-color: var(--white);
    position: relative;
  }
  
  .puaEWFfhOIjoxPs.aXejyMRBWBcHEjF {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }
  
  .XBBlGxnVNoyhJvG {
    grid-column-gap: 1.5rem;
    grid-row-gap: 3.125rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .TthwZPnbaHzZojj {
    grid-row-gap: 1.25rem;
    flex-flow: column;
    text-decoration: none;
    display: flex;
  }
  
  .nCVhIPnXteYGEhV {
    cursor: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .YkyblQvFmNWIFBy {
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    display: flex;
  }
  
  .EkFoEXNYlTDucXW {
    background-color: var(--white-500);
    align-self: flex-start;
    width: 100%;
    height: 1px;
  }
  
  .EkFoEXNYlTDucXW.CeeqWZMHvCHffmY {
    background-color: var(--black-800);
  }
  
  .ZNjiAolOjwIvZDy {
    grid-row-gap: 1.25rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .NKNkinIeDlAStFB {
    transform-origin: 0 100%;
  }
  
  .NKNkinIeDlAStFB.PlTynDShqLaiDPP {
    color: var(--white);
  }
  
  .NKNkinIeDlAStFB.ByXbqbkYYjnXQgV {
    color: var(--black-700);
  }
  
  .NKNkinIeDlAStFB.ZdZqsowjtalAPbe {
    display: none;
  }
  
  .dCfKbqXoyDjTIJr.PlTynDShqLaiDPP {
    color: var(--white);
  }
  
  .KsQoFHdChjTpKYt {
    background-color: var(--white-500);
    
    color: var(--black-900);
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 2.5rem;
    padding: .375rem 1rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: .875rem;
  }
  
  .PxavbacHiOnliFD {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    background-color: var(--white);
    
    color: var(--black-900);
    text-align: center;
    text-transform: uppercase;
    border-radius: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    font-size: .875rem;
    font-weight: 600;
    line-height: .875rem;
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .xDYAqTjtwdmxkdW {
    z-index: 1;
    background-color: var(--black-900);
    position: relative;
  }
  
  .fdqWSAYcBjDShPH {
    text-align: left;
  }
  
  .NhtuTihaaKmZxut {
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }
  
  .PaFwuMIYmvMnoRJ {
    text-align: left;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  
  .ANbOjeYlMBotGmw {
    color: var(--black-900);
    font-weight: 600;
  }
  
  .wSfoIgJsmCWnGvo {
    opacity: 0;
    display: block;
  }
  
  .LYyhXDqPdLiVzrP {
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.875rem;
    flex-flow: column;
    max-width: 30.375rem;
    display: flex;
  }
  
  .dIXKoQpPdbMKiPW {
    grid-column-gap: .625rem;
    grid-row-gap: .625rem;
    flex-flow: column;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
  }
  
  .CBGiZWhNyOqBerI {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .XHEsvDpMKsUaBmy {
    z-index: 1;
    background-color: var(--white);
    position: relative;
  }
  
  .PqQrVIwkjCBxTDJ {
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem;
  }
  
  .PqQrVIwkjCBxTDJ.CnorAdaYwhHRgsG {
    padding-top: 9.375rem;
  }
  
  .PqQrVIwkjCBxTDJ.pRoiqENCYHMVsNH {
    padding-bottom: 9.375rem;
  }
  
  .PqQrVIwkjCBxTDJ.mAMYgXePSJkZnyi {
    padding-top: 7.5rem;
  }
  
  .weOrlIrmZNbNLkU {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
  }
  
  .zKcMmvKkTszJjfq {
    border: 1px solid var(--black-800);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 0;
    display: flex;
  }
  
  .zKcMmvKkTszJjfq.gAikFxKPnhQzydB {
    margin-right: 0;
    right: 4.125rem;
  }
  
  .CyvHsYyULbhndjM {
    
    text-transform: uppercase;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 2.125rem;
  }
  
  .CyvHsYyULbhndjM.xWEtVjLnDQnLesb {
    perspective: 954px;
    transform-origin: 0%;
    transform: perspective(954px);
  }
  
  .ZXCMDsVLTfEbvpq {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 15.625rem;
    display: flex;
  }
  
  .zQDNiqfOVrrfsSF {
    margin-bottom: .625rem;
  }
  
  .yQgxhJeQDaAwqWp {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .HJiIxaVuPoFxIxX {
    grid-column-gap: .25px;
    grid-row-gap: .25px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .vwoaSRMjGtbBeqA {
    
    color: var(--black-900);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
  }
  
  .RSMRWvCbkqNGwvT {
    display: none;
  }
  
  .NgFbVZHgSnQTfKv {
    z-index: 1;
    background-color: #fff;
    padding-bottom: 8.75rem;
    position: relative;
  }
  
  .YrXDyEZpIjSHTpP {
    grid-column-gap: 4.375rem;
    grid-row-gap: 4.375rem;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    position: relative;
  }
  
  .lzjQwksEDJgiAOV {
    flex-flow: column;
    padding-top: 1.875rem;
    display: flex;
  }
  
  .PZkQZyTBgHsBQpf {
    grid-column-gap: 3.125rem;
    grid-row-gap: 3.125rem;
    background-color: var(--black-900);
    flex-flow: column;
    width: 100%;
    max-width: 690px;
    padding: 3.125rem;
    display: flex;
    position: absolute;
    top: 208px;
    left: 509px;
  }
  
  .FcqvhdrvisLipzi {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .YkhZlpbwyrykilA {
    z-index: 1;
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem;
    position: relative;
  }
  
  .ysqTNQzxaarKRzZ {
    grid-row-gap: 1.875rem;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 65.8125rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .PlTynDShqLaiDPP {
    color: var(--white);
    text-decoration: none;
  }
  
  .EfXrGvnFNRJHoWY {
    z-index: 1;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
  }
  
  .WPWOCeTATDPoSmz {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    cursor: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .eakmcHAkqhzyfch {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex: none;
    display: flex;
  }
  
  .fpYxWTXGKjCbugc {
    background-color: var(--black-900);
    
    color: var(--white);
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 4.875rem;
    height: 4.875rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: .875rem;
    display: flex;
  }
  
  .NmwrQWiGCoWaKbL {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10rem;
    display: flex;
    position: relative;
  }
  
  .saiaMOjgWTMjDNw {
    z-index: 1;
    background-color: var(--black-900);
    width: 76.125rem;
    padding-left: 7.5rem;
    position: relative;
  }
  
  .WXUTJuvxRnYMONB {
    background-color: var(--white-500);
    width: 69.75rem;
    height: 25.75rem;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-left: 4.375rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .htxqdkQEOLKJpmN {
    justify-content: space-between;
    align-items: center;
    max-width: 57.375rem;
    display: flex;
  }
  
  .BjNieBGVgYnETyf {
    
    color: var(--black-900);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
    line-height: .875rem;
  }
  
  .BjNieBGVgYnETyf.ByXbqbkYYjnXQgV, .BjNieBGVgYnETyf.rPhlTScPUwyqMjY {
    color: var(--black-700);
  }
  
  .JZRzsWSgMCwvIOr {
    margin-right: 7.5rem;
  }
  
  .oUAciXEVTcarSjC.FGwxwWnhBgkXgrD {
    padding-top: 5rem;
  }
  
  .HLxonkcfooyGlTO {
    grid-column-gap: 4.4rem;
    grid-template-rows: auto;
    grid-template-columns: 1.25fr .75fr 1fr 1fr;
  }
  
  .oDFFAqmwoBjOmSu {
    flex-flow: column;
    justify-content: space-between;
    display: flex;
  }
  
  .XNFrNztxKwRKehe {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  
  .MPctxAIZujILSCF {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .nKMusGHdHTiXaGT {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .lUXQZNCkXwpocZc {
    transition: transform .3s;
  }
  
  .lUXQZNCkXwpocZc:hover {
    transform: scale(1.1);
  }
  
  .JhNhohgrKeCvMcU {
    grid-column-gap: 2.1875rem;
    grid-row-gap: 2.1875rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .URnzxjDNzyMjomX {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .LbDgcJkmYUmGCXe {
    
    color: var(--white-500);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-decoration: none;
    transition: transform .4s cubic-bezier(.977, .007, .035, .989);
    display: block;
  }
  
  .LbDgcJkmYUmGCXe:hover {
    transform: scale(.9);
  }
  
  .MBLxLcwMDQVOsND {
    border-top: 1px solid var(--black-800);
    justify-content: space-between;
    align-items: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-right: 3.125rem;
    display: flex;
  }
  
  .TWhMkDLNIqUOaXe {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    
    color: var(--white);
    letter-spacing: 5px;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
    line-height: .875rem;
    text-decoration: none;
    display: flex;
  }
  
  .vkdazAeTwTvKmeX {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    max-width: 6.8rem;
    text-decoration: none;
    display: flex;
    overflow: hidden;
  }
  
  .vkdazAeTwTvKmeX.GtSIbLIpxIkRlRc {
    max-width: 4.1rem;
  }
  
  .vkdazAeTwTvKmeX.NOxqQsVsWyLadHk {
    max-width: 4.8rem;
  }
  
  .BeAEfmnpBLImxfx {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .LXpizFExMnVjxud {
    position: -webkit-sticky;
    position: sticky;
    top: 4.375rem;
  }
  
  .uWRbxBePxJGtjSj {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
  }
  
  .KqDFCuDZssVepja {
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
  
  .QEIOqcSFjOPrsNN {
    opacity: 1;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .WexOvAnrnrgwUjf {
    background-color: var(--black-900);
    width: 100%;
    height: 0%;
    padding-right: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .WexOvAnrnrgwUjf.HNXggPQImPjHwsK {
    background-color: var(--black-700);
  }
  
  .DpiUSkxgbjjFaLg {
    z-index: 1;
    position: relative;
  }
  
  .MSPFcuKvfvCPCaa {
    flex: none;
    width: 70px;
    position: static;
  }
  
  .XhDyWCxiWgkRlYp {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    transform-origin: 0 100%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .XhDyWCxiWgkRlYp.NvwemBpiyrSvbuV {
    max-width: 747px;
  }
  
  .XhDyWCxiWgkRlYp.mAMYgXePSJkZnyi {
    align-self: flex-end;
    max-width: 747px;
  }
  
  .XvuGdTxAaMKgJFY {
    position: absolute;
  }
  
  .KUCBdJIGXoWvdwV {
    width: 49.5rem;
  }
  
  .IHupEzdMYsIRekX {
    z-index: 0;
    width: 100%;
  }
  
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
  
    h2 {
      font-size: 2.75rem;
      line-height: 3.25rem;
    }
  
    .vXXwBfFYHPBoLol.WikBXkTKqWmzmUn {
      display: none;
    }
  
    .NXvrcrtnTYMlImJ {
      background-color: var(--white-200);
      padding: 1.5rem;
    }
  
    .hNDXlKIsChMYxju {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;
      position: static;
    }
  
    .fCpgntZIkRiESeM {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }
  
    .weOOJNUxWhhTQKo {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;
    }
  
    .weOOJNUxWhhTQKo.TtQXCmWDERDxgTq {
      padding-top: 3.125rem;
    }
  
    .weOOJNUxWhhTQKo.mAMYgXePSJkZnyi {
      padding-top: 6.25rem;
    }
  
    .XXxJjpTKMOiQmdj {
      height: auto;
    }
  
    .NyKFozssSnlAzZZ {
      grid-row-gap: 1rem;
    }
  
    .QrXjdFMRnsUNCnr.mAMYgXePSJkZnyi {
      flex-flow: row;
      font-size: 2.8rem;
      line-height: 3rem;
    }
  
    .kHfaVsPMfGeIMfW {
      display: none;
    }
  
    .TuTKybPrlbJqqKm.DLswhuhOARCKiwY {
      padding-bottom: 6.25rem;
    }
  
    .ixJgUrQffiQgkSc {
      padding-top: 6.25rem;
      padding-bottom: 3.125rem;
    }
  
    .RGTJYuXrBUNLDvF {
      max-width: none;
      height: auto;
    }
  
    .WKIfFVKGRQGmsPW {
      max-width: none;
    }
  
    .PcGrbKdsNTWKjkJ {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  
    .rmNwVZHUgUcZjKp {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .XBBlGxnVNoyhJvG {
      grid-template-columns: 1fr 1fr;
    }
  
    .nCVhIPnXteYGEhV {
      cursor: pointer;
    }
  
    .NKNkinIeDlAStFB.aIfnfWazXRwRiHH {
      display: none;
    }
  
    .NKNkinIeDlAStFB.ZdZqsowjtalAPbe {
      display: block;
    }
  
    .PxavbacHiOnliFD {
      display: none;
    }
  
    .NhtuTihaaKmZxut {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
      flex-flow: column;
    }
  
    .PaFwuMIYmvMnoRJ {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      flex: none;
    }
  
    .wSfoIgJsmCWnGvo {
      flex: none;
      display: none;
    }
  
    .fbdbKpWsJPFFPwJ {
      width: 100%;
    }
  
    .PqQrVIwkjCBxTDJ {
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;
    }
  
    .PqQrVIwkjCBxTDJ.CnorAdaYwhHRgsG {
      padding-top: 6.25rem;
    }
  
    .PqQrVIwkjCBxTDJ.pRoiqENCYHMVsNH {
      padding-bottom: 6.25rem;
    }
  
    .PqQrVIwkjCBxTDJ.mAMYgXePSJkZnyi {
      padding-top: 6.25rem;
    }
  
    .CyvHsYyULbhndjM.xWEtVjLnDQnLesb {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .NgFbVZHgSnQTfKv {
      padding-bottom: 0;
    }
  
    .YrXDyEZpIjSHTpP {
      grid-column-gap: 2.75rem;
      grid-row-gap: 2.75rem;
      flex-flow: column;
    }
  
    .lzjQwksEDJgiAOV {
      padding-top: 0;
    }
  
    .PZkQZyTBgHsBQpf {
      max-width: none;
      position: static;
    }
  
    .YkhZlpbwyrykilA {
      padding-top: 3.125rem;
    }
  
    .ysqTNQzxaarKRzZ {
      max-width: none;
    }
  
    .fpYxWTXGKjCbugc {
      display: none;
    }
  
    .NmwrQWiGCoWaKbL {
      flex-flow: wrap-reverse;
      padding-top: 0;
    }
  
    .saiaMOjgWTMjDNw {
      width: auto;
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }
  
    .WXUTJuvxRnYMONB {
      width: 100%;
      height: auto;
      margin-left: 0;
      padding: 2.5rem 1.875rem;
      position: static;
    }
  
    .htxqdkQEOLKJpmN {
      max-width: none;
    }
  
    .JZRzsWSgMCwvIOr {
      margin-right: 0;
    }
  
    .HLxonkcfooyGlTO {
      grid-column-gap: 3.3rem;
      grid-row-gap: 3.3rem;
      grid-template-columns: 1fr 1fr;
    }
  
    .MBLxLcwMDQVOsND {
      grid-column-gap: 1.5rem;
      grid-row-gap: 1.5rem;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 0;
    }
  
    .vkdazAeTwTvKmeX {
      max-width: none;
      margin-top: 1.5rem;
    }
  
    .vkdazAeTwTvKmeX.GtSIbLIpxIkRlRc {
      max-width: none;
      margin-top: 0;
    }
  
    .vkdazAeTwTvKmeX.NOxqQsVsWyLadHk {
      max-width: none;
    }
  
    .BeAEfmnpBLImxfx {
      height: auto;
      position: static;
    }
  
    .LXpizFExMnVjxud {
      position: static;
    }
  
    .HcmuauheywFFFkm {
      grid-row-gap: 6px;
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  
    .tjfvzoASumfqBeJ {
      padding: 0;
    }
  
    .tDoAzAiQyGUBfNJ {
      background-color: #000;
      width: 24px;
      height: 2px;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .MSPFcuKvfvCPCaa {
      display: none;
    }
  
     .KUCBdJIGXoWvdwV {
      width: auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  
    h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  
    .hNDXlKIsChMYxju {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  
    .fCpgntZIkRiESeM {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .weOOJNUxWhhTQKo {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  
    .weOOJNUxWhhTQKo.TtQXCmWDERDxgTq {
      padding-top: 1.5rem;
    }
  
    .weOOJNUxWhhTQKo.mAMYgXePSJkZnyi {
      padding-top: 5rem;
    }
  
    .QrXjdFMRnsUNCnr.mAMYgXePSJkZnyi {
      flex-flow: wrap;
      font-size: 2.1rem;
      line-height: 2.5rem;
    }
  
    .TuTKybPrlbJqqKm.DLswhuhOARCKiwY {
      padding-bottom: 3rem;
    }
  
    .TuTKybPrlbJqqKm.xUVYLXlBAXxFdHs {
      padding-bottom: 4rem;
    }
  
    .TuTKybPrlbJqqKm.FGwxwWnhBgkXgrD {
      padding-bottom: 2.5rem;
    }
  
    .TuTKybPrlbJqqKm.GlZvNPJOFLOhzaf {
      padding-bottom: 3.25rem;
    }
  
    .IAgkjeHXdkENbBk {
      display: none;
    }
  
    .ixJgUrQffiQgkSc {
      padding-top: 5rem;
      padding-bottom: 2.5rem;
    }
  
    .PcGrbKdsNTWKjkJ {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  
    .XBBlGxnVNoyhJvG {
      grid-template-columns: 1fr;
    }
  
    .CgmNWJdkHMikNDo {
      width: 100%;
    }
  
    .PaFwuMIYmvMnoRJ {
      grid-column-gap: 1.5rem;
      grid-row-gap: 1.5rem;
    }
  
    .PqQrVIwkjCBxTDJ {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  
    .PqQrVIwkjCBxTDJ.CnorAdaYwhHRgsG {
      padding-top: 5rem;
    }
  
    .PqQrVIwkjCBxTDJ.pRoiqENCYHMVsNH {
      padding-bottom: 5rem;
    }
  
    .PqQrVIwkjCBxTDJ.mAMYgXePSJkZnyi {
      padding-top: 5rem;
    }
  
    .CyvHsYyULbhndjM.xWEtVjLnDQnLesb {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }
  
    .saiaMOjgWTMjDNw, .WXUTJuvxRnYMONB {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .BjNieBGVgYnETyf.rPhlTScPUwyqMjY {
      line-height: 1.375rem;
    }
  
    .oDFFAqmwoBjOmSu {
      grid-row-gap: 2rem;
    }
  
    .MBLxLcwMDQVOsND {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  
    .vkdazAeTwTvKmeX, .vkdazAeTwTvKmeX.GtSIbLIpxIkRlRc, .vkdazAeTwTvKmeX.NOxqQsVsWyLadHk {
      max-width: none;
    }
  }
  
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 2.3rem;
      line-height: 3rem;
    }
  
    h2 {
      font-size: 1.9rem;
      line-height: 2.5rem;
    }
  
    h4 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .IXKgSYcDVBywaBS {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  
    .rbanFrhscFltjuA {
      grid-column-gap: 1.5rem;
      grid-row-gap: 1.5rem;
    }
  
    .hNDXlKIsChMYxju {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
    }
  
    .fCpgntZIkRiESeM {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .weOOJNUxWhhTQKo {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
    }
  
    .weOOJNUxWhhTQKo.TtQXCmWDERDxgTq {
      padding-top: 1.875rem;
    }
  
    .weOOJNUxWhhTQKo.mAMYgXePSJkZnyi {
      padding-top: 3.75rem;
    }
  
    .QrXjdFMRnsUNCnr.mAMYgXePSJkZnyi {
      flex-flow: wrap;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .ZKxJMCiqviUmoFn {
      padding: .25rem 1.5rem;
    }
  
    .TuTKybPrlbJqqKm.DLswhuhOARCKiwY, .TuTKybPrlbJqqKm.xUVYLXlBAXxFdHs {
      padding-bottom: 3.75rem;
    }
  
    .TuTKybPrlbJqqKm.FGwxwWnhBgkXgrD {
      padding-bottom: 2rem;
    }
  
    .TuTKybPrlbJqqKm.GlZvNPJOFLOhzaf {
      padding-bottom: 3rem;
    }
  
    .bKWtPXmKXCBzZQp {
      font-size: .9rem;
    }
  
    .ixJgUrQffiQgkSc {
      padding-top: 3.75rem;
      padding-bottom: 1.875rem;
    }
  
    .TCKlWXBaERvMtyR {
      max-width: 10%;
    }
  
    .PcGrbKdsNTWKjkJ {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .EKwKENzpuQMisnV {
      height: auto;
    }
  
    .XBBlGxnVNoyhJvG {
      grid-template-columns: 1fr;
    }
  
    .CgmNWJdkHMikNDo {
      width: 100%;
    }
  
    .NKNkinIeDlAStFB {
      font-size: 1.8rem;
    }
  
    .PqQrVIwkjCBxTDJ {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
    }
  
    .PqQrVIwkjCBxTDJ.CnorAdaYwhHRgsG {
      padding-top: 3.75rem;
    }
  
    .PqQrVIwkjCBxTDJ.pRoiqENCYHMVsNH {
      padding-bottom: 3.75rem;
    }
  
    .PqQrVIwkjCBxTDJ.mAMYgXePSJkZnyi {
      padding-top: 3.75rem;
    }
  
    .wnXRdwZfohdfmjz {
      height: 100%;
    }
  
    .zKcMmvKkTszJjfq {
      display: none;
    }
  
    .ZXCMDsVLTfEbvpq {
      justify-content: space-between;
      height: 24.2rem;
    }
  
    .yQgxhJeQDaAwqWp {
      margin-top: 0;
    }
  
    .YrXDyEZpIjSHTpP {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }
  
    .PZkQZyTBgHsBQpf {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
      padding: 2rem;
    }
  
    .FcqvhdrvisLipzi {
      grid-column-gap: .6rem;
      grid-row-gap: .6rem;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .saiaMOjgWTMjDNw, .WXUTJuvxRnYMONB {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .htxqdkQEOLKJpmN {
      grid-column-gap: 1.5rem;
      grid-row-gap: 1.5rem;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .HLxonkcfooyGlTO {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
      grid-template-columns: 1fr;
    }
  
    .vkdazAeTwTvKmeX, .vkdazAeTwTvKmeX.GtSIbLIpxIkRlRc, .vkdazAeTwTvKmeX.NOxqQsVsWyLadHk {
      max-width: none;
    }
  
    .WexOvAnrnrgwUjf {
      display: none;
    }
  
    .XPoEhhbiQBjRLAA {
      max-width: 140px;
    }
  }
  
  
  
  
  
  